.wrapperFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 10px;
  margin-top: 40px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 50vw;
  height: 84px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.footerTitle {
  text-align: right;
  padding: 10px;
  display: block;
  font-size: var(--fontSizeS);
  font-weight: var(--bold);
  color: var(--black);
  margin-bottom: 5px;
  font-family: var(--font-headers);
  text-transform: uppercase;
}

.line1 {
  position: absolute;
  top: 15px;
  left: 1px;
  width: calc(50% - 12px);
  border-bottom: 2px solid var(--black);
}

.line2 {
  position: absolute;
  top: 15px;
  left: calc(50% - 12px);
  width: 20px;
  border-bottom: 2px solid var(--black);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.line2A {
  position: absolute;
  top: -24px;
  right: 49.3%;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.line3 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: calc(50% - 2px);
  border-bottom: 2px solid var(--black);
}

.line3A {
  position: absolute;
  top: -10px;
  right: -1px;
  width: 50%;
  border-bottom: 1px solid var(--blackA);
}

.line4 {
  position: absolute;
  top: 15px;
  right: -14px;
  width: 20px;
  border-bottom: 2px solid var(--black);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line4A {
  position: absolute;
  top: 15px;
  right: -24px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line4B {
  position: absolute;
  top: -24px;
  right: -14px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line5 {
  position: absolute;
  top: 15px;
  height: 55px;
  border-left: 2px solid var(--black);
  right: -14px;
}

.line5A {
  position: absolute;
  top: 15px;
  height: 55px;
  right: -24px;
  border-left: 1px solid var(--blackA);
}

.line6 {
  position: absolute;
  top: 69px;
  right: -12px;
  width: 20px;
  border-bottom: 2px solid var(--black);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line6A {
  position: absolute;
  bottom: -1px;
  right: -36px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.line7 {
  position: absolute;
  top: 82px;
  left: 1px;
  width: 100%;
  border-top: 2px solid var(--black);
}

.line8 {
  position: absolute;
  top: 68px;
  left: -13px;
  width: 20px;
  border-bottom: 2px solid var(--black);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.line8B {
  position: absolute;
  bottom: 12px;
  left: -24px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.line9 {
  position: absolute;
  top: 30px;
  left: -14px;
  height: 40px;
  border-left: 2px solid var(--black);
}

.line9A {
  position: absolute;
  top: 29px;
  left: -24px;
  height: 42px;
  border-left: 1px solid var(--blackA);
}

.line10 {
  position: absolute;
  top: 29px;
  left: -12px;
  width: 20px;
  border-bottom: 2px solid var(--black);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.line10A {
  position: absolute;
  top: 29px;
  left: -24px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
/*# sourceMappingURL=Footer.module.css.map */