.wrapperFooter {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin: 10px;
  margin-top: 40px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 50vw;
  height: 84px;
  transform: translate(-50%, 0%);
  // border: 1px solid black;
  // overflow: hidden;
}

.footerTitle {
  text-align: right;
  padding: 10px;
  display: block;
  font-size: var(--fontSizeS);
  font-weight: var(--bold);
  color: var(--black);
  margin-bottom: 5px;
  font-family: var(--font-headers);
  text-transform: uppercase;
}

.line1 {
  position: absolute;
  top: 0;
  left: 1px;
  width: calc(50% - 12px);
  border-bottom: 2px solid black;
}

.line2 {
  position: absolute;
  top: 1px;
  left: calc(50% - 12px);
  width: 20px;
  border-bottom: 2px solid black;
  transform: rotate(-45deg);
  transform-origin: top left;
}

.line2A {
  position: absolute;
  top: -37px;
  right: 49.4%;
  width: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transform: rotate(45deg);
  transform-origin: top left;
}

.line3 {
  position: absolute;
  top: -14px;
  right: -1px;
  width: calc(50% - 1px);
  border-bottom: 2px solid black;
}

.line3A {
  position: absolute;
  top: -24px;
  right: -1px;
  width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.line4 {
  position: absolute;
  top: 0;
  right: -14px;
  width: 20px;
  border-bottom: 2px solid black;
  transform: rotate(45deg);
  transform-origin: top right;
}

.line4A {
  position: absolute;
  top: 1px;
  right: -24px;
  width: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transform: rotate(135deg);
  transform-origin: top right;
}

.line4B {
  position: absolute;
  top: -37px;
  right: -14px;
  width: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transform: rotate(-45deg);
  transform-origin: top right;
}

.line5 {
  position: absolute;
  top: 1px;
  height: 70px;
  border-left: 2px solid black;
  right: -14px;
}

.line5A {
  position: absolute;
  top: 1px;
  height: 70px;
  right: -24px;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.line6 {
  position: absolute;
  top: 69px;
  right: -12px;
  width: 20px;
  border-bottom: 2px solid black;
  transform: rotate(-45deg);
  transform-origin: top right;
}

.line6A {
  position: absolute;
  bottom: -1px;
  right: -36px;
  width: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.line7 {
  position: absolute;
  top: 82px;
  left: 1px;
  width: 100%;
  border-top: 2px solid black;
}

.line8 {
  position: absolute;
  top: 68px;
  left: -13px;
  width: 20px;
  border-bottom: 2px solid black;
  transform: rotate(45deg);
  transform-origin: bottom left;
}

.line8B {
  position: absolute;
  bottom: 12px;
  left: -24px;
  width: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transform: rotate(135deg);
  transform-origin: top left;
}

.line9 {
  position: absolute;
  top: 14px;
  left: -14px;
  height: 56px;
  border-left: 2px solid black;
  //   transform-origin: top left;
}

.line9A {
  position: absolute;
  top: 14px;
  left: -24px;
  height: 56px;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  //   transform-origin: top left;
}

.line10 {
  position: absolute;
  top: 14px;
  left: -12px;
  width: 20px;
  border-bottom: 2px solid black;
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.line10A {
  position: absolute;
  top: 14px;
  left: -24px;
  width: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transform: rotate(-135deg);
  transform-origin: top left;
}
