.page {
  display: block;
}

.wrapperGraphic {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 70%;
  // background-color: var(--colorArticles);
  @media (max-width: 1366px) {
    left: 51%;
    width: 89%;
  }

  @media (max-width: 480px) {
    height: 85%;
    left: 50%;
    width: 100%;
  }
}

.title {
  position: absolute;
  left: 60px;
  top: 60px;
  text-align: left;
  // padding-left: 20px;
  display: block;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: var(--bold);
  color: var(--white);
  // margin-bottom: 5px;
  font-family: var(--font-headers);
  text-transform: uppercase;
}
