.perspectiveA {
  margin-left: 95px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
  border: 1px solid var(--black);
  // perspective: 300px;
  overflow: hidden;
}

.pointer {
  position: absolute;
  width: 5px;
  height: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--black);
  border-radius: 50%;
}

.groupA {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: rotateY(0deg) rotateZ(90deg);
  // transform-style: preserve-3d;
  align-content: space-between;
}
