.wrapperAll {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(var(--cardWidth) + 5px);
  height: calc(var(--cardHeight) + 3px);
}

.wrapper, .wrapperColor {
  width: 100%;
  height: calc(100% - 63px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapperInner {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(92% 0%, 100% 8%, 100% 100%, 8% 100%, 0% 92%, 0 0);
          clip-path: polygon(92% 0%, 100% 8%, 100% 100%, 8% 100%, 0% 92%, 0 0);
  position: absolute;
  left: -2px;
  top: 0px;
  -webkit-transform: scale(96%, 96%);
          transform: scale(96%, 96%);
}

.wrapperColor {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
  background-color: var(--colorArticles);
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 70px;
  border-bottom: 1px dashed var(--black);
  border-top: 1px dashed var(--black);
}

.card {
  width: var(--cardWidth);
  min-height: var(--cardHeight);
  -webkit-filter: drop-shadow(-5px 10px 10px var(--colorArticlesA));
          filter: drop-shadow(-5px 10px 10px var(--colorArticlesA));
  position: relative;
}

.cardShape, .cardShapeA, .cardShapeB {
  width: var(--cardWidth);
  min-height: var(--cardHeight);
  -webkit-clip-path: polygon(92% 0%, 100% 8%, 100% 100%, 8% 100%, 0% 92%, 0 0);
          clip-path: polygon(92% 0%, 100% 8%, 100% 100%, 8% 100%, 0% 92%, 0 0);
  position: relative;
  background-color: var(--colorMainGrey);
}

.cardShapeA, .cardShapeB {
  margin-left: 0px;
  min-height: calc(var(--cardHeight) + 2px);
  position: absolute;
  top: -2px;
  right: -2px;
  border: 20px solid var(--colorArticles);
}

.cardShapeB {
  width: calc(var(--cardWidth) + 4px);
  margin-left: 0px;
  position: absolute;
  bottom: -2px;
  left: -2px;
}

.paragraphWrapper {
  position: relative;
  background-color: rgba(24, 24, 24, 0.26);
  border-top: 3px double var(--colorArticles);
  border-bottom: 3px double var(--colorArticles);
}

.title {
  text-align: left;
  color: var(--white);
  font-size: 2rem;
  padding: 15px;
  padding-bottom: 0;
}

.code {
  height: 45%;
  width: 25%;
  background-image: url("../../../assets/icons/barcode1.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.decorA {
  width: 200px;
  height: 20px;
  background-color: #2f2f2f;
  position: absolute;
  bottom: -19px;
  right: 0;
  border-bottom: 1px solid var(--colorArticles);
  border-left: 2px solid var(--colorArticles);
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.decorB {
  width: 20px;
  height: 20px;
  background-color: #2f2f2f;
  position: absolute;
  bottom: -18px;
  right: 0;
  border: 5px solid var(--colorArticles);
}

.decorC {
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: -17px;
  right: 0px;
  border-top: 20px solid #2f2f2f;
  border-right: 21px solid transparent;
}

.decorData {
  position: absolute;
  bottom: -40px;
  right: 0px;
  font-family: var(--font-headers);
  color: var(--colorArticles);
  font-weight: 100;
  font-size: 1.4rem;
}
/*# sourceMappingURL=Card.module.css.map */