// @import '../../../scss/variables';
.paragraph {
  font-size: var(--fontSizeS);
  color: var(--white);
  padding-bottom: 20px;
}

.paragraphB {
  @extend .paragraph;
  font-size: var(--fontSizeXS);
  font-weight: var(--bold);
  color: var(--black);
}
