.heading {
  display: block;
  text-align: left;
  padding: 10px;
  padding-left: 45px;
  display: block;
  font-size: var(--fontSizeL);
  font-weight: var(--bold);
  color: var(--black);
  margin-bottom: 5px;
  font-family: var(--font-headers);
  text-transform: uppercase;
}

.card {
  @extend .heading;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-size: 2rem;
  height: 45%;
}

.detailPage {
  @extend .heading;
  letter-spacing: 1px;
  color: white;
}
