.customLabel {
  position: absolute;
  top: calc(50% - calc(var(--cardHeight) / 2));
  left: calc(50% - calc(var(--cardHeight) / 2));
  // transform: translate(-50%, -50%);
  display: block;
  width: calc(var(--cardWidth) + 5px);
  height: calc(var(--cardHeight) + 3px);
  clip-path: polygon(92% 0%, 100% 8%, 100% 100%, 8% 100%, 0% 92%, 0 0);
  background-color: var(--colorArticles);
  color: var(--colorGrey300);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: 400ms ease-in-out;
}
