@import '../../../scss/variables';

.buttonicon {
  width: 67px;
  height: 67px;
  border-radius: 20px;
  background-color: var(--colorArticles);
  background-image: url('../../../assets/icons/book.svg');
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 40%;
  margin-bottom: 20px;
  //   border: none;
}

.logout {
  @extend .buttonicon;
  background-image: url('../../../assets/icons/logout.svg');
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 40%;
}

.pen {
  @extend .buttonicon;
  background-image: url('../../../assets/icons/pen.svg');
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 40%;
}

.people {
  @extend .buttonicon;
  background-image: url('../../../assets/icons/people.svg');
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 60%;
}

.plus {
  @extend .buttonicon;
  background-image: url('../../../assets/icons/plus.svg');
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 40%;
}

.twitter {
  @extend .buttonicon;
  background-image: url('../../../assets/icons/twitter.svg');
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 45%;
}
