.buttonicon, .logout, .pen, .people, .plus, .social, .git, .vim, .link, .you, .twit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  width: 67px;
  height: 67px;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  background-color: var(--colorArticles);
  background-image: url("../../../assets/icons/book.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 40%;
  margin-bottom: 20px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.buttonicon:hover, .logout:hover, .pen:hover, .people:hover, .plus:hover, .social:hover, .git:hover, .vim:hover, .link:hover, .you:hover, .twit:hover {
  background-color: var(--colorArticles);
}

.logout {
  background-image: url("../../../assets/icons/logout.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 40%;
}

.pen {
  background-image: url("../../../assets/icons/pen.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 40%;
}

.people {
  background-image: url("../../../assets/icons/people.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 60%;
}

.plus {
  background-image: url("../../../assets/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 40%;
}

.social, .git, .vim, .link, .you, .twit {
  -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0% 85%, 0% 15%);
          clip-path: polygon(10% 0%, 90% 0%, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0% 85%, 0% 15%);
  background-color: var(--colorBgkVD);
  background-image: none;
  background-repeat: none;
  background-position: none;
  background-size: auto;
  margin: 0;
}

.git {
  padding: 6px;
  width: 90px;
  height: 45px;
}

@media (max-width: 1600px) {
  .git {
    width: 75px;
    height: 40px;
  }
}

.github {
  width: 100%;
  height: 100%;
  -webkit-mask-image: url("../../../assets/icons/GitHubBig.svg");
          mask-image: url("../../../assets/icons/GitHubBig.svg");
  -webkit-mask-size: 85%;
          mask-size: 85%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 50%, 60%;
          mask-position: 50%, 60%;
  background-color: white;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.vim {
  padding: 6px;
  width: 90px;
  height: 45px;
}

@media (max-width: 1600px) {
  .vim {
    width: 75px;
    height: 40px;
  }
}

.vimeo {
  width: 100%;
  height: 100%;
  -webkit-mask-image: url("../../../assets/icons/VimeoBig.svg");
          mask-image: url("../../../assets/icons/VimeoBig.svg");
  -webkit-mask-size: 85%;
          mask-size: 85%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 50%, 60%;
          mask-position: 50%, 60%;
  background-color: white;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.link {
  padding: 4px;
  padding-top: 7px;
  padding-left: 5px;
  width: 90px;
  height: 45px;
}

@media (max-width: 1600px) {
  .link {
    width: 75px;
    height: 40px;
  }
}

.linkedin {
  width: 100%;
  height: 100%;
  -webkit-mask-image: url("../../../assets/icons/LinkedinBig.svg");
          mask-image: url("../../../assets/icons/LinkedinBig.svg");
  -webkit-mask-size: 90%;
          mask-size: 90%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 50%, 50%;
          mask-position: 50%, 50%;
  background-color: white;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.you {
  padding: 4px;
  padding-top: 8px;
  padding-left: 5px;
  width: 90px;
  height: 45px;
}

@media (max-width: 1600px) {
  .you {
    width: 75px;
    height: 40px;
  }
}

.youtube {
  width: 100%;
  height: 100%;
  -webkit-mask-image: url("../../../assets/icons/YoutubeBig.svg");
          mask-image: url("../../../assets/icons/YoutubeBig.svg");
  -webkit-mask-size: 90%;
          mask-size: 90%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 50%, 50%;
          mask-position: 50%, 50%;
  background-color: white;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.twit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  padding-left: 15px;
  width: 110px;
  height: 45px;
}

@media (max-width: 1600px) {
  .twit {
    width: 85px;
    height: 40px;
  }
}

.twitter {
  width: 100%;
  height: 100%;
  -webkit-mask-image: url("../../../assets/icons/Twitter.svg");
          mask-image: url("../../../assets/icons/Twitter.svg");
  -webkit-mask-size: 90%;
          mask-size: 90%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 25%, 50%;
          mask-position: 25%, 50%;
  background-color: white;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.buttonicon:hover > .github, .logout:hover > .github, .pen:hover > .github, .people:hover > .github, .plus:hover > .github, .social:hover > .github, .git:hover > .github, .vim:hover > .github, .link:hover > .github, .you:hover > .github, .twit:hover > .github {
  background-color: black;
}

.buttonicon:hover > .twitter, .logout:hover > .twitter, .pen:hover > .twitter, .people:hover > .twitter, .plus:hover > .twitter, .social:hover > .twitter, .git:hover > .twitter, .vim:hover > .twitter, .link:hover > .twitter, .you:hover > .twitter, .twit:hover > .twitter {
  background-color: black;
}

.buttonicon:hover > h3, .logout:hover > h3, .pen:hover > h3, .people:hover > h3, .plus:hover > h3, .social:hover > h3, .git:hover > h3, .vim:hover > h3, .link:hover > h3, .you:hover > h3, .twit:hover > h3 {
  color: black;
}

.buttonicon:hover > .vimeo, .logout:hover > .vimeo, .pen:hover > .vimeo, .people:hover > .vimeo, .plus:hover > .vimeo, .social:hover > .vimeo, .git:hover > .vimeo, .vim:hover > .vimeo, .link:hover > .vimeo, .you:hover > .vimeo, .twit:hover > .vimeo {
  background-color: black;
}

.buttonicon:hover > .youtube, .logout:hover > .youtube, .pen:hover > .youtube, .people:hover > .youtube, .plus:hover > .youtube, .social:hover > .youtube, .git:hover > .youtube, .vim:hover > .youtube, .link:hover > .youtube, .you:hover > .youtube, .twit:hover > .youtube {
  background-color: black;
}

.buttonicon:hover > .linkedin, .logout:hover > .linkedin, .pen:hover > .linkedin, .people:hover > .linkedin, .plus:hover > .linkedin, .social:hover > .linkedin, .git:hover > .linkedin, .vim:hover > .linkedin, .link:hover > .linkedin, .you:hover > .linkedin, .twit:hover > .linkedin {
  background-color: black;
}
/*# sourceMappingURL=ButtonIcon.module.css.map */