.buttonicon, .logout, .pen, .people, .plus, .social, .git, .vimeo, .linkedin, .you, .twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  width: 67px;
  height: 67px;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  background-color: var(--colorArticles);
  background-image: url("../../../assets/icons/book.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 40%;
  margin-bottom: 20px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.buttonicon:hover, .logout:hover, .pen:hover, .people:hover, .plus:hover, .social:hover, .git:hover, .vimeo:hover, .linkedin:hover, .you:hover, .twitter:hover {
  background-color: var(--colorArticles);
  fill: black;
}

.buttonicon:hover path, .logout:hover path, .pen:hover path, .people:hover path, .plus:hover path, .social:hover path, .git:hover path, .vimeo:hover path, .linkedin:hover path, .you:hover path, .twitter:hover path {
  fill: black;
}

.buttonicon:hover text, .logout:hover text, .pen:hover text, .people:hover text, .plus:hover text, .social:hover text, .git:hover text, .vimeo:hover text, .linkedin:hover text, .you:hover text, .twitter:hover text {
  fill: black;
}

.buttonicon:hover circle, .logout:hover circle, .pen:hover circle, .people:hover circle, .plus:hover circle, .social:hover circle, .git:hover circle, .vimeo:hover circle, .linkedin:hover circle, .you:hover circle, .twitter:hover circle {
  fill: black;
}

.logout {
  background-image: url("../../../assets/icons/logout.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 40%;
}

.pen {
  background-image: url("../../../assets/icons/pen.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 40%;
}

.people {
  background-image: url("../../../assets/icons/people.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 60%;
}

.plus {
  background-image: url("../../../assets/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 40%;
}

.social, .git, .vimeo, .linkedin, .you, .twitter {
  -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0% 85%, 0% 15%);
          clip-path: polygon(10% 0%, 90% 0%, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0% 85%, 0% 15%);
  background-color: var(--colorBgkVD);
  background-image: none;
  background-repeat: none;
  background-position: none;
  background-size: auto;
  margin: 0;
}

.git {
  background-image: url("../../../assets/icons/GitHubBig.svg");
  background-repeat: no-repeat;
  background-position: 50%, 60%;
  background-size: 85%;
  padding: 6px;
  width: 90px;
  height: 45px;
}

@media (max-width: 1600px) {
  .git {
    width: 75px;
    height: 40px;
  }
}

.vimeo {
  background-image: url("../../../assets/icons/VimeoBig.svg");
  background-repeat: no-repeat;
  background-position: 50%, 60%;
  background-size: 85%;
  padding: 6px;
  width: 90px;
  height: 45px;
}

@media (max-width: 1600px) {
  .vimeo {
    width: 75px;
    height: 40px;
  }
}

.linkedin {
  background-image: url("../../../assets/icons/LinkedinBig.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 90%;
  padding: 4px;
  padding-top: 7px;
  padding-left: 5px;
  width: 90px;
  height: 45px;
}

@media (max-width: 1600px) {
  .linkedin {
    width: 75px;
    height: 40px;
  }
}

.you {
  background-image: url("../../../assets/icons/YoutubeBig.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: 90%;
  padding: 4px;
  padding-top: 8px;
  padding-left: 5px;
  width: 90px;
  height: 45px;
}

@media (max-width: 1600px) {
  .you {
    width: 75px;
    height: 40px;
  }
}

.twitter {
  background-image: url("../../../assets/icons/Twitter.svg");
  background-repeat: no-repeat;
  background-position: 15%, 50%;
  background-size: 28%;
  padding: 6px;
  padding-left: 12px;
  width: 110px;
  height: 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1600px) {
  .twitter {
    width: 85px;
    height: 40px;
  }
}
/*# sourceMappingURL=ButtonIcon.module.css.map */