// @import '../../../scss/animations';
.glow {
  position: absolute;
  top: 100px;
  left: -10px;
  z-index: -1;
  height: 70px;
  width: 170px;
  background: radial-gradient(
    closest-side,
    rgb(255, 244, 214),
    var(--colorArticles),
    rgba(0, 0, 0, 0.1)
  );
  transition: all 1s ease-out;
  transform: translateY(0);
}

.moveA {
  transform: translateY(50px);
}

.moveB {
  transform: translateY(120px);
}

.moveC {
  transform: translateY(180px);
}
