.glow {
  position: absolute;
  top: 100px;
  left: -15px;
  z-index: -1;
  height: 70px;
  width: 185px;
  background: radial-gradient(
    closest-side,
    rgb(255, 244, 214),
    var(--colorArticles),
    var(--colorMainGrey)
  );
  transition: all 1s ease-out;
}

.glowA {
  top: 155px;
}

.glowB {
  top: 222px;
}

.glowC {
  top: 280px;
}
