.wrapperAll {
  position: absolute;
  left: 24%;
  top: 11.7%;
  width: calc(var(--inputWidth) + 24px);
  height: calc(var(--inputHeight) + 4px);

  // border: 1px solid whitesmoke;
}

.backWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.background {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: calc(var(--inputHeight) + 2px);
  width: calc(var(--inputWidth) + 22px);
  background-color: var(--colorArticles);
  clip-path: polygon(0% 40%, 10% 0%, 100% 0%, 100% 60%, 90% 100%, 0 100%);
}

.input {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: var(--inputHeight);
  min-width: var(--inputWidth);
  width: calc(var(--inputWidth) + 20px);
  padding: 15px 30px;
  font-size: var(--fontSizeM);
  clip-path: polygon(0% 40%, 10% 0%, 100% 0%, 100% 60%, 90% 100%, 0 100%);
  border: none;
  appearance: none;
  outline: none;
  background-color: var(--colorGrey100);
  letter-spacing: 1px;

  &::placeholder {
    font-weight: var(--bold);
    font-size: var(--fontSizeXS);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--colorMainGrey);
  }

  &:focus {
    background-color: var(--white);
  }
}

.search {
  @extend .input;
  padding: 10px 20px 10px 40px;
  background-image: url(../../../assets/icons/magnifier.svg);
  background-size: 15px;
  background-position: 15px 50%;
  background-repeat: no-repeat;
}
