@import '../../../scss/variables';

.input {
  padding: 15px 30px;
  font-size: var(--fontSizeM);
  // font-weight: var(--bold);
  min-width: 200px;
  width: 220px;
  border: none;
  border-radius: 15px;
  appearance: none;
  outline: none;
  border: 2px solid var(--colorPeople);
  background-color: var(--colorGrey100);
  letter-spacing: 1px;

  // transition: transform 0.35s ease-in-out;

  &::placeholder {
    font-weight: var(--bold);
    font-size: var(--fontSizeXS);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--colorGrey400);
  }

  &:focus {
    background-color: var(--white);
    border: 2px solid var(--colorNews);
  }
}

.search {
  @extend .input;
  padding: 10px 20px 10px 40px;
  background-image: url(../../../assets/icons/magnifier.svg);
  background-size: 15px;
  background-position: 15px 50%;
  background-repeat: no-repeat;
}
