.wrapperAll, .contactWrap {
  position: absolute;
  left: 24%;
  top: 11.7%;
  width: calc(var(--inputWidth) + 24px);
  height: calc(var(--inputHeight) + 4px);
}

@media (min-width: 1921px) and (min-height: 1153px) {
  .wrapperAll, .contactWrap {
    top: 10.5%;
  }
}

@media (max-width: 1600px) {
  .wrapperAll, .contactWrap {
    top: 80px;
    left: 63.7%;
  }
}

@media (max-width: 1440px) {
  .wrapperAll, .contactWrap {
    left: 59.2%;
  }
}

@media (max-width: 1366px) {
  .wrapperAll, .contactWrap {
    top: 40px;
    left: 57.4%;
    height: calc(var(--inputHeight) - 6px);
  }
}

@media (max-width: 1280px) {
  .wrapperAll, .contactWrap {
    top: 41px;
    left: 54.4%;
    height: calc(var(--inputHeight) - 8px);
  }
}

@media (max-width: 1152px) {
  .wrapperAll, .contactWrap {
    top: 41px;
    left: 51.4%;
  }
}

@media (max-width: 1024px) {
  .wrapperAll, .contactWrap {
    top: 37px;
    left: 45.8%;
  }
}

.backWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.backWrapperB {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-filter: drop-shadow(-5px 5px 8px var(--colorArticlesB));
          filter: drop-shadow(-5px 5px 8px var(--colorArticlesB));
}

.background, .bgkS, .contactBgk {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: calc(var(--inputHeight) + 2px);
  width: calc(var(--inputWidth) + 22px);
  background-color: var(--colorArticles);
  -webkit-clip-path: polygon(0% 40%, 10% 0%, 100% 0%, 100% 60%, 90% 100%, 0 100%);
          clip-path: polygon(0% 40%, 10% 0%, 100% 0%, 100% 60%, 90% 100%, 0 100%);
}

@media (min-width: 1921px) {
  .background, .bgkS, .contactBgk {
    -webkit-clip-path: polygon(0% 40%, 7% 0%, 100% 0%, 100% 60%, 93% 100%, 0 100%);
            clip-path: polygon(0% 40%, 7% 0%, 100% 0%, 100% 60%, 93% 100%, 0 100%);
  }
}

@media (max-width: 1600px) {
  .background, .bgkS, .contactBgk {
    -webkit-clip-path: polygon(0% 40%, 0% 0%, 100% 0%, 100% 60%, 94% 100%, 0 100%);
            clip-path: polygon(0% 40%, 0% 0%, 100% 0%, 100% 60%, 94% 100%, 0 100%);
  }
}

@media (max-width: 1280px) {
  .background, .bgkS, .contactBgk {
    -webkit-clip-path: polygon(0% 40%, 0% 0%, 100% 0%, 100% 60%, 95% 100%, 0 100%);
            clip-path: polygon(0% 40%, 0% 0%, 100% 0%, 100% 60%, 95% 100%, 0 100%);
  }
}

@media (max-width: 1024px) {
  .background, .bgkS, .contactBgk {
    -webkit-clip-path: polygon(0% 40%, 0% 0%, 100% 0%, 100% 60%, 95% 100%, 0 100%);
            clip-path: polygon(0% 40%, 0% 0%, 100% 0%, 100% 60%, 95% 100%, 0 100%);
  }
}

@media (max-width: 480px) {
  .bgkS {
    display: none;
  }
}

.input, .search, .contact {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: var(--inputHeight);
  min-width: var(--inputWidth);
  width: calc(var(--inputWidth) + 20px);
  padding: 15px 30px;
  font-size: var(--fontSizeM);
  -webkit-clip-path: polygon(0% 40%, 10% 0%, 100% 0%, 100% 60%, 90% 100%, 0 100%);
          clip-path: polygon(0% 40%, 10% 0%, 100% 0%, 100% 60%, 90% 100%, 0 100%);
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background-color: var(--colorGrey100);
  letter-spacing: 1px;
}

.input::-webkit-input-placeholder, .search::-webkit-input-placeholder, .contact::-webkit-input-placeholder {
  font-weight: var(--bold);
  font-size: var(--fontSizeXS);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--colorMainGrey);
  line-height: var(--inputHeight);
}

.input:-ms-input-placeholder, .search:-ms-input-placeholder, .contact:-ms-input-placeholder {
  font-weight: var(--bold);
  font-size: var(--fontSizeXS);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--colorMainGrey);
  line-height: var(--inputHeight);
}

.input::-ms-input-placeholder, .search::-ms-input-placeholder, .contact::-ms-input-placeholder {
  font-weight: var(--bold);
  font-size: var(--fontSizeXS);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--colorMainGrey);
  line-height: var(--inputHeight);
}

.input::placeholder, .search::placeholder, .contact::placeholder {
  font-weight: var(--bold);
  font-size: var(--fontSizeXS);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--colorMainGrey);
  line-height: var(--inputHeight);
}

@media (max-width: 1600px) {
  .input::-webkit-input-placeholder, .search::-webkit-input-placeholder, .contact::-webkit-input-placeholder {
    font-size: 1.1rem;
  }
  .input:-ms-input-placeholder, .search:-ms-input-placeholder, .contact:-ms-input-placeholder {
    font-size: 1.1rem;
  }
  .input::-ms-input-placeholder, .search::-ms-input-placeholder, .contact::-ms-input-placeholder {
    font-size: 1.1rem;
  }
  .input::placeholder, .search::placeholder, .contact::placeholder {
    font-size: 1.1rem;
  }
}

.input:focus, .search:focus, .contact:focus {
  background-color: var(--white);
}

@media (min-width: 1921px) {
  .input, .search, .contact {
    -webkit-clip-path: polygon(0% 40%, 7% 0%, 100% 0%, 100% 60%, 93% 100%, 0 100%);
            clip-path: polygon(0% 40%, 7% 0%, 100% 0%, 100% 60%, 93% 100%, 0 100%);
  }
}

@media (max-width: 1600px) {
  .input, .search, .contact {
    -webkit-clip-path: polygon(0% 40%, 0% 0%, 100% 0%, 100% 60%, 94% 100%, 0 100%);
            clip-path: polygon(0% 40%, 0% 0%, 100% 0%, 100% 60%, 94% 100%, 0 100%);
  }
}

@media (max-width: 1280px) {
  .input, .search, .contact {
    -webkit-clip-path: polygon(0% 40%, 0% 0%, 100% 0%, 100% 60%, 95% 100%, 0 100%);
            clip-path: polygon(0% 40%, 0% 0%, 100% 0%, 100% 60%, 95% 100%, 0 100%);
  }
}

.search {
  padding: 10px 20px 10px 40px;
  background-image: url(../../../assets/icons/magnifier.svg);
  background-size: 15px;
  background-position: 15px 50%;
  background-repeat: no-repeat;
}

@media (max-width: 480px) {
  .search {
    display: none;
  }
}

.contact {
  -webkit-clip-path: polygon(0% 40%, 7% 0%, 100% 0%, 100% 60%, 93% 100%, 0 100%);
          clip-path: polygon(0% 40%, 7% 0%, 100% 0%, 100% 60%, 93% 100%, 0 100%);
  width: calc(var(--inputWidth) + 60px);
}

.contactWrap {
  position: relative;
  left: 0;
  top: 0;
  width: calc(var(--inputWidth) + 64px);
}

.contactBgk {
  -webkit-clip-path: polygon(0% 40%, 7% 0%, 100% 0%, 100% 60%, 93% 100%, 0 100%);
          clip-path: polygon(0% 40%, 7% 0%, 100% 0%, 100% 60%, 93% 100%, 0 100%);
  width: calc(var(--inputWidth) + 62px);
}
/*# sourceMappingURL=Input.module.css.map */