@import '../../../scss/variables';

.input {
  padding: 15px 30px;
  font-size: var(--fontSizeS);
  font-weight: var(--bold);
  background-color: var(--white);
  border: none;
  border-radius: 15px;
  appearance: none;
  outline: none;

  ::placeholder {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--colorGrey400);
  }
}

.input::enabled {
  border: 2px solid var(--colorNews);
  /* outline:  */
}
.input :checked {
  outline: none;
}
.input :valid {
  background-color: var(--white);
}

.search {
  @extend .input;
  padding: 10px 20px 10px 40px;
  background-color: var(--white);
  background-image: url(../../../assets/icons/magnifier.svg);
  background-size: 15px;
  background-position: 15px 50%;
  background-repeat: no-repeat;
  ::placeholder {
    letter-spacing: 0px;
  }
}
