.menu {
  z-index: 1;
  position: absolute;
  left: 10px;
  top: 100px;
}

.ulist {
  list-style: none;
}

.navLink {
  // coś zmienia tylko dlaczego ?

  text-decoration: none;
}

.active {
  text-decoration: none;
}
