.menu {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-47%, -53%);
}

.ulist {
  list-style: none;
}

.navLink {
  // coś zmienia tylko dlaczego ?

  text-decoration: none;
}

.active {
  text-decoration: none;
}
