.wrapperFooter {
  margin-bottom: 10px;
  margin-top: 40px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 90%;
  height: 107px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.innerWrapper {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 80%;
  height: 100%;
}

.socialWrapper {
  position: absolute;
  width: calc(100% - 88px - 31% * 1.25);
  padding-right: 140px;
  padding-left: 10px;
  height: 55px;
  left: 35px;
  bottom: 7px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 5px solid var(--colorArticles);
}

.footerTitle {
  position: absolute;
  text-align: right;
  right: 47px;
  bottom: 10px;
  display: block;
  font-size: var(--fontSizeXS);
  font-weight: var(--bold);
  color: var(--black);
  margin-bottom: 5px;
  font-family: var(--font-headers);
  text-transform: uppercase;
}

.line1 {
  position: absolute;
  left: calc(50% + 1px);
  bottom: 0px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% - 77px);
  border-top: 2px solid red;
}

.line2 {
  position: absolute;
  bottom: 0px;
  right: 19px;
  width: 20px;
  border-top: 2px solid var(--black);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.line2A {
  position: absolute;
  bottom: 14px;
  right: -5px;
  width: 20px;
  border-top: 1px solid var(--blackA);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.line3 {
  position: absolute;
  bottom: 15px;
  right: 24px;
  height: 54px;
  border-right: 2px solid var(--black);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line3A {
  position: absolute;
  bottom: 15px;
  right: 14px;
  height: 54px;
  border-right: 1px solid var(--blackA);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line4 {
  position: absolute;
  top: 38px;
  right: 24px;
  width: 20px;
  border-top: 2px solid var(--black);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line4A {
  position: absolute;
  top: 24px;
  right: 1px;
  width: 20px;
  border-top: 1px solid var(--blackA);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line4B {
  position: absolute;
  top: -1px;
  right: 24px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.line5 {
  position: absolute;
  top: 23px;
  right: 38px;
  width: calc(31% * 1.25);
  border-bottom: 2px solid red;
}

.line5A {
  position: absolute;
  top: 13px;
  right: 38px;
  width: calc(31% * 1.25);
  border-bottom: 1px solid var(--blackA);
}

.line6 {
  position: absolute;
  top: 24px;
  right: calc(39px + 31% * 1.25);
  width: 20px;
  border-bottom: 2px solid var(--black);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.line6A {
  position: absolute;
  top: 14px;
  right: calc(38px + 31% * 1.25);
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.line7 {
  position: absolute;
  top: 38px;
  right: calc(51px + 31% * 1.25);
  width: calc(100% - 92px - 31% * 1.25);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  border-bottom: 2px solid var(--black);
}

.line8 {
  position: absolute;
  top: 51px;
  left: 28px;
  width: 20px;
  border-bottom: 2px solid var(--black);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.line8A {
  position: absolute;
  top: 38px;
  left: 1px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.line9 {
  position: absolute;
  bottom: 16px;
  left: 26px;
  height: 39px;
  border-left: 2px solid var(--black);
}

.line9A {
  position: absolute;
  bottom: 16px;
  left: 15px;
  height: 40px;
  border-left: 1px solid var(--blackA);
}

.line10 {
  position: absolute;
  bottom: 15px;
  left: 25px;
  width: 20px;
  border-bottom: 2px solid var(--black);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.line10A {
  position: absolute;
  bottom: 1px;
  left: 2px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.wrapperTwit {
  padding-top: 3px;
  height: 28px;
  width: 28px;
}

.tittle1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  position: absolute;
  top: 50%;
  right: 5px;
  width: 75px;
  height: 50px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: var(--colorArticles);
  font-family: var(--font-headers);
  font-size: 1.5rem;
  margin: auto;
}

.tittleWrapper {
  position: absolute;
  width: 40.1%;
  height: 70px;
  left: calc(100% - 45px - 31% * 1.25);
  bottom: 7px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
}

.lineA {
  position: absolute;
  width: 97.6%;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid blueviolet;
}

.lineB {
  position: absolute;
  width: 15px;
  left: 97.1%;
  bottom: 5px;
  border-bottom: 2px solid DeepPink;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.lineC {
  position: absolute;
  height: 48px;
  right: 1px;
  bottom: 11px;
  border-right: 2px solid darkturquoise;
}

.lineD {
  position: absolute;
  width: 15px;
  right: 2px;
  top: 5px;
  border-bottom: 2px solid ForestGreen;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.lineE {
  position: absolute;
  width: calc(100% - 26px);
  right: 14px;
  top: 0px;
  border-bottom: 2px solid var(--colorArticles);
}

.lineF {
  position: absolute;
  width: 15px;
  left: -1px;
  top: 5px;
  border-bottom: 2px solid var(--colorArticles);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.lineG {
  position: absolute;
  height: 57px;
  left: 0px;
  bottom: 2px;
  border-right: 2px solid var(--colorArticles);
}
/*# sourceMappingURL=FooterB.module.css.map */