.wrapperFooter {
  margin-bottom: 10px;
  margin-top: 40px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 90%;
  height: 107px;
  transform: translate(-50%, 0%);
  // opacity: 0.4;
  // border: 1px solid var(--white);
  //   overflow: hidden;
}

.innerWrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80%;
  height: 100%;
  // transform: translate(-50%, 0%);
  // border: 1px solid white;
}

.socialWrapper {
  position: absolute;
  width: calc(100% - 88px - 31% * 1.25);
  padding-right: 140px;
  padding-left: 10px;
  height: 55px;
  left: 35px;
  bottom: 7px;
  flex-direction: row;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 5px solid var(--colorArticles);
}

.footerTitle {
  position: absolute;
  text-align: right;
  right: 47px;
  bottom: 10px;
  display: block;
  font-size: var(--fontSizeS);
  font-weight: var(--bold);
  color: var(--black);
  margin-bottom: 5px;
  font-family: var(--font-headers);
  text-transform: uppercase;
}

.line1 {
  position: absolute;
  left: calc(50% + 1px);
  bottom: 0px;
  transform: translateX(-50%);
  width: calc(100% - 77px);
  border-top: 2px solid var(--black);
}

.line2 {
  position: absolute;
  bottom: 0px;
  right: 19px;
  width: 20px;
  border-top: 2px solid var(--black);
  transform: rotate(-45deg);
  transform-origin: top left;
}

.line2A {
  position: absolute;
  bottom: 14px;
  right: -5px;
  width: 20px;
  border-top: 1px solid var(--blackA);
  transform: rotate(45deg);
  transform-origin: top left;
}

.line3 {
  position: absolute;
  bottom: 15px;
  right: 24px;
  height: 54px;
  border-right: 2px solid var(--black);
  transform-origin: top right;
}

.line3A {
  position: absolute;
  bottom: 15px;
  right: 14px;
  height: 54px;
  border-right: 1px solid var(--blackA);
  transform-origin: top right;
}

.line4 {
  position: absolute;
  top: 38px;
  right: 24px;
  width: 20px;
  border-top: 2px solid var(--black);
  transform: rotate(45deg);
  transform-origin: top right;
}

.line4A {
  position: absolute;
  top: 24px;
  right: 1px;
  width: 20px;
  border-top: 1px solid var(--blackA);
  transform: rotate(-45deg);
  transform-origin: top right;
}

.line4B {
  position: absolute;
  top: -1px;
  right: 24px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  transform-origin: top right;
  transform: rotate(-45deg);
}

.line5 {
  position: absolute;
  top: 23px;
  right: 38px;
  width: calc(31% * 1.25);
  border-bottom: 2px solid var(--black);
}

.line5A {
  position: absolute;
  top: 13px;
  right: 38px;
  width: calc(31% * 1.25);
  border-bottom: 1px solid var(--blackA);
}

.line6 {
  position: absolute;
  top: 24px;
  right: calc(39px + 31% * 1.25);
  width: 20px;
  border-bottom: 2px solid var(--black);
  transform-origin: top right;
  transform: rotate(-45deg);
}

.line6A {
  position: absolute;
  top: 14px;
  right: calc(38px + 31% * 1.25);
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  transform-origin: top right;
  transform: rotate(45deg);
}

.line7 {
  position: absolute;
  top: 38px;
  right: calc(51px + 31% * 1.25);
  width: calc(100% - 92px - 31% * 1.25);
  transform-origin: top right;
  border-bottom: 2px solid var(--black);
}

.line8 {
  position: absolute;
  top: 51px;
  left: 28px;
  width: 20px;
  border-bottom: 2px solid var(--black);
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.line8A {
  position: absolute;
  top: 38px;
  left: 1px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  transform: rotate(45deg);
  transform-origin: bottom left;
}

.line9 {
  position: absolute;
  bottom: 16px;
  left: 26px;
  height: 39px;
  border-left: 2px solid var(--black);
}

.line9A {
  position: absolute;
  bottom: 16px;
  left: 15px;
  height: 40px;
  border-left: 1px solid var(--blackA);
}

.line10 {
  position: absolute;
  bottom: 15px;
  left: 25px;
  width: 20px;
  border-bottom: 2px solid var(--black);
  transform: rotate(45deg);
  transform-origin: bottom left;
}

.line10A {
  position: absolute;
  bottom: 1px;
  left: 2px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.wrapperTwit {
  padding-top: 3px;
  height: 28px;
  width: 28px;
}

.tittle1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  text-align: right;
  position: absolute;
  top: 50%;
  right: 5px;
  width: 75px;
  height: 50px;
  transform: translate(0, -50%);
  color: var(--colorArticles);
  font-family: var(--font-headers);
  font-size: 1.5rem;
  // border: 1px solid white;
  margin: auto;
}
