@-webkit-keyframes btnBlink {
  0% {
    color: var(--colorArticles);
    border-right: 2px solid var(--colorArticles);
  }
  5% {
    border-right: 2px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 2px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 2px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 2px solid var(--colorArticles);
  }
  40% {
    border-bottom: 2px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 2px solid var(--colorArticles);
  }
  65% {
    border-left: 2px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 2px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@keyframes btnBlink {
  0% {
    color: var(--colorArticles);
    border-right: 2px solid var(--colorArticles);
  }
  5% {
    border-right: 2px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 2px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 2px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 2px solid var(--colorArticles);
  }
  40% {
    border-bottom: 2px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 2px solid var(--colorArticles);
  }
  65% {
    border-left: 2px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 2px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@-webkit-keyframes btnBlinkB {
  0% {
    color: var(--colorArticles);
    border-right: 1px solid var(--colorArticles);
  }
  5% {
    border-right: 1px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 1px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 1px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 1px solid var(--colorArticles);
  }
  40% {
    border-bottom: 1px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 1px solid var(--colorArticles);
  }
  65% {
    border-left: 1px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 1px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@keyframes btnBlinkB {
  0% {
    color: var(--colorArticles);
    border-right: 1px solid var(--colorArticles);
  }
  5% {
    border-right: 1px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 1px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 1px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 1px solid var(--colorArticles);
  }
  40% {
    border-bottom: 1px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 1px solid var(--colorArticles);
  }
  65% {
    border-left: 1px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 1px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@-webkit-keyframes glowMovment {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-10px, 4px);
            transform: translate(-10px, 4px);
  }
  50% {
    -webkit-transform: translate(0px, 8px);
            transform: translate(0px, 8px);
  }
  75% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes glowMovment {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-10px, 4px);
            transform: translate(-10px, 4px);
  }
  50% {
    -webkit-transform: translate(0px, 8px);
            transform: translate(0px, 8px);
  }
  75% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes scanline {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
}

@keyframes scanline {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
}

@-webkit-keyframes slideKont {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
}

@keyframes slideKont {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
}

@-webkit-keyframes hideKont {
  0% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes hideKont {
  0% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.wrapperFooter {
  margin-bottom: 10px;
  margin-top: 40px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 90%;
  height: 107px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

@media (max-width: 1600px) {
  .wrapperFooter {
    width: 82%;
  }
}

@media (max-width: 1440px) {
  .wrapperFooter {
    left: 48%;
  }
}

.innerWrapper {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 80%;
  height: 100%;
}

.socialWrapper {
  position: absolute;
  width: calc( 100% - 88px - 31% * 1.25);
  padding-right: 140px;
  padding-left: 10px;
  height: 55px;
  left: 35px;
  bottom: 7px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 5px solid var(--colorArticles);
}

.socialWrapper a {
  display: block;
}

@media (max-width: 1600px) {
  .socialWrapper {
    padding-right: 70px;
  }
}

.footerTitle {
  position: absolute;
  text-align: right;
  right: 47px;
  bottom: 10px;
  display: block;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--colorArticles);
  margin-bottom: 5px;
  font-family: var(--font-headers);
  text-transform: uppercase;
  text-shadow: -1px 2px 1px rgba(22, 22, 22, 0.4);
  letter-spacing: 1px;
}

@media (max-width: 1536px) {
  .footerTitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 1440px) {
  .footerTitle {
    right: 45px;
    bottom: 14px;
    font-size: 1.1rem;
  }
}

.line1 {
  position: absolute;
  left: calc(50% + 1px);
  bottom: 0px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% - 77px);
  border-top: 2px solid var(--black);
}

.line2 {
  position: absolute;
  bottom: 0px;
  right: 19px;
  width: 20px;
  border-top: 2px solid var(--black);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.line2A {
  position: absolute;
  bottom: 14px;
  right: -5px;
  width: 20px;
  border-top: 1px solid var(--blackA);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.line3 {
  position: absolute;
  bottom: 15px;
  right: 24px;
  height: 54px;
  border-right: 2px solid var(--black);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line3A {
  position: absolute;
  bottom: 15px;
  right: 14px;
  height: 54px;
  border-right: 1px solid var(--blackA);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line4 {
  position: absolute;
  top: 38px;
  right: 24px;
  width: 20px;
  border-top: 2px solid var(--black);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line4A {
  position: absolute;
  top: 24px;
  right: 1px;
  width: 20px;
  border-top: 1px solid var(--blackA);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line4B {
  position: absolute;
  top: -1px;
  right: 24px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.line5 {
  position: absolute;
  top: 23px;
  right: 38px;
  width: calc(31% * 1.25);
  border-bottom: 2px solid var(--black);
}

.line5A {
  position: absolute;
  top: 13px;
  right: 38px;
  width: calc(31% * 1.25);
  border-bottom: 1px solid var(--blackA);
}

.line6 {
  position: absolute;
  top: 24px;
  right: calc(39px + 31% * 1.25);
  width: 20px;
  border-bottom: 2px solid var(--black);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.line6A {
  position: absolute;
  top: 14px;
  right: calc(38px + 31% * 1.25);
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.line7 {
  position: absolute;
  top: 38px;
  right: calc(51px + 31% * 1.25);
  width: calc(100% - 92px - 31% * 1.25);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  border-bottom: 2px solid var(--black);
}

.line8 {
  position: absolute;
  top: 51px;
  left: 28px;
  width: 20px;
  border-bottom: 2px solid var(--black);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.line8A {
  position: absolute;
  top: 38px;
  left: 1px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.line9 {
  position: absolute;
  bottom: 16px;
  left: 26px;
  height: 39px;
  border-left: 2px solid var(--black);
}

.line9A {
  position: absolute;
  bottom: 16px;
  left: 15px;
  height: 40px;
  border-left: 1px solid var(--blackA);
}

.line10 {
  position: absolute;
  bottom: 15px;
  left: 25px;
  width: 20px;
  border-bottom: 2px solid var(--black);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.line10A {
  position: absolute;
  bottom: 1px;
  left: 2px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.tittle1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  position: absolute;
  top: 50%;
  right: 5px;
  width: 75px;
  height: 50px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: var(--colorArticles);
  font-family: var(--font-headers);
  font-size: 1.5rem;
  margin: auto;
}

@media (max-width: 1600px) {
  .tittle1 {
    font-size: 1.3rem;
    width: 55px;
    font-weight: 300;
  }
}

.bgkWrap {
  position: absolute;
  width: calc(31% * 1.25 + 17px);
  height: 71px;
  left: calc(100% - 48px - 31% * 1.25);
  bottom: 7px;
  -webkit-clip-path: polygon(0 20%, 3% 0, 97% 0, 100% 20%, 100% 80%, 98% 100%, 0 100%);
          clip-path: polygon(0 20%, 3% 0, 97% 0, 100% 20%, 100% 80%, 98% 100%, 0 100%);
  overflow: hidden;
}

@media (min-width: 1921px) {
  .bgkWrap {
    -webkit-clip-path: polygon(0 20%, 2.5% 0, 98% 0, 100% 20%, 100% 80%, 98% 100%, 0 100%);
            clip-path: polygon(0 20%, 2.5% 0, 98% 0, 100% 20%, 100% 80%, 98% 100%, 0 100%);
  }
}

@media (min-width: 1600px) {
  .bgkWrap {
    -webkit-clip-path: polygon(0 20%, 3.3% 0, 97% 0, 100% 20%, 100% 80%, 97.6% 100%, 0 100%);
            clip-path: polygon(0 20%, 3.3% 0, 97% 0, 100% 20%, 100% 80%, 97.6% 100%, 0 100%);
  }
}

.scanline {
  width: 100%;
  height: 35%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(10%, var(--colorArticlesA)), to(rgba(49, 0, 0, 0.1)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--colorArticlesA) 10%, rgba(49, 0, 0, 0.1) 100%);
  opacity: 0.55;
  position: absolute;
  bottom: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  will-change: transform;
  -webkit-animation: scanline 7s linear infinite;
          animation: scanline 7s linear infinite;
}

.background {
  position: absolute;
  background-color: var(--colorArticlesB);
  width: 100%;
  height: 100%;
}

.lines {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(24, 0, 0, 0)), color-stop(50%, var(--colorArticlesB)));
  background: linear-gradient(to bottom, rgba(24, 0, 0, 0) 50%, var(--colorArticlesB) 50%);
  background-size: 100% 4px;
  opacity: 0.4;
}

.lineA {
  position: absolute;
  width: calc(31% * 1.25 + 5px);
  left: calc(100% - 46px - 31% * 1.25);
  bottom: 7px;
  border-bottom: 2px solid var(--colorArticles);
}

.lineB {
  position: absolute;
  width: 15px;
  left: calc(100% - 42px);
  bottom: 7px;
  border-bottom: 2px solid var(--colorArticles);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.lineC {
  position: absolute;
  height: 48px;
  right: 31px;
  bottom: 18px;
  border-right: 2px solid var(--colorArticles);
  -webkit-transform-origin: center right;
          transform-origin: center right;
}

.lineD {
  position: absolute;
  width: 15px;
  left: calc(100% - 43px);
  top: 30px;
  border-bottom: 2px solid var(--colorArticles);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.lineE {
  position: absolute;
  width: calc(31% * 1.25 - 7px);
  left: calc(100% - 35px - 31% * 1.25);
  top: 30px;
  border-bottom: 2px solid var(--colorArticles);
}

.lineF {
  position: absolute;
  width: 17px;
  left: calc(100% - 52px - 31% * 1.25);
  top: 30px;
  border-bottom: 2px solid var(--colorArticles);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center right;
          transform-origin: center right;
}

.lineG {
  position: absolute;
  height: 57px;
  left: calc(100% - 48px - 31% * 1.25);
  bottom: 7px;
  border-right: 2px solid var(--colorArticles);
}
/*# sourceMappingURL=FooterB.module.css.map */