.wrapperFooter {
  margin-bottom: 10px;
  margin-top: 40px;
  position: absolute;
  bottom: 0px;
  left: 55%;
  width: 80%;
  height: 107px;
  transform: translate(-50%, 0%);
  opacity: 0.4;
  // border: 1px solid var(--white);
  //
  //   overflow: hidden;
}

.innerWrapper {
  position: absolute;
  top: 0;
  right: calc(21% - 14px);
  // transform: translate(-50%, 0%);
  width: 72%;
  height: 100%;
  // border: 1px solid white;
}

.line1 {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: calc(100% - 74px);
  border-top: 2px solid red;
}

.line2 {
  position: absolute;
  bottom: 0px;
  right: 19px;
  width: 20px;
  border-top: 2px solid red;
  transform: rotate(-45deg);
  transform-origin: top left;
}

.line2A {
  position: absolute;
  top: 14px;
  right: -3px;
  width: 20px;
  border-top: 1px solid var(--blackA);
  transform: rotate(-45deg);
  transform-origin: top left;
}

.line3 {
  position: absolute;
  top: 14px;
  right: 25px;
  height: 40px;
  border-right: 2px solid red;
  transform-origin: top right;
}

.line3A {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 40px;
  border-right: 1px solid var(--blackA);
  transform-origin: top right;
}

.line4 {
  position: absolute;
  top: 53px;
  right: 26px;
  width: 20px;
  border-top: 2px solid red;
  transform: rotate(-45deg);
  transform-origin: top right;
}

.line4A {
  position: absolute;
  top: 68px;
  right: 1px;
  width: 20px;
  border-top: 1px solid var(--blackA);
  transform: rotate(45deg);
  transform-origin: top right;
}

.line5 {
  position: absolute;
  top: 67px;
  left: calc(53px + 31% * 1.25);
  width: calc(100% - 92px - 31% * 1.25);
  border-bottom: 2px solid red;
}

.line6 {
  position: absolute;
  top: 67px;
  left: calc(34px + 31% * 1.25);
  width: 20px;
  border-bottom: 2px solid red;
  transform-origin: top right;
  transform: rotate(-45deg);
}

.line6A {
  position: absolute;
  bottom: -2px;
  left: calc(34px + 31% * 1.25);
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  transform-origin: top right;
  transform: rotate(45deg);
}

.line7 {
  position: absolute;
  top: 81px;
  left: 41px;
  width: calc(31% * 1.25);
  transform-origin: top right;
  border-bottom: 2px solid red;
}

.line7A {
  position: absolute;
  bottom: 12px;
  left: 40px;
  width: calc(31% * 1.25);
  transform-origin: top right;
  border-bottom: 1px solid var(--blackA);
}

.line8 {
  position: absolute;
  top: 67px;
  left: 27px;
  width: 20px;
  border-bottom: 2px solid red;
  transform: rotate(45deg);
  transform-origin: bottom left;
}

.line8A {
  position: absolute;
  bottom: -2px;
  left: 27px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.line8B {
  position: absolute;
  bottom: 24px;
  left: 3px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.line9 {
  position: absolute;
  top: 14px;
  left: 27px;
  height: 55px;
  border-left: 2px solid red;
}

.line9A {
  position: absolute;
  top: 14px;
  left: 16px;
  height: 55px;
  border-left: 1px solid var(--blackA);
}

.line10 {
  position: absolute;
  top: 14px;
  left: 28px;
  width: 20px;
  border-bottom: 2px solid red;
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.line10A {
  position: absolute;
  top: -1px;
  left: 2px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  transform: rotate(45deg);
  transform-origin: bottom left;
}
