@import '../../../scss/variables';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 0;
  background-color: var(--colorArticles);
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  border: none;
  border-radius: 50px;
  // font-family: $font-main;
  font-weight: 600;
  font-size: var(--fontSizeS);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;
}

.secondary {
  @extend .button;
  width: var(--buttonWidthSec);
  height: var(--buttonHeightSec);
  font-size: var(--fontSizeXS);
  background-color: var(--color-light-grey);
}
