@-webkit-keyframes btnBlink {
  0% {
    color: var(--colorArticles);
    border-right: 2px solid var(--colorArticles);
  }
  5% {
    border-right: 2px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 2px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 2px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 2px solid var(--colorArticles);
  }
  40% {
    border-bottom: 2px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: black;
  }
  60% {
    border-bottom: 2px solid var(--colorArticles);
  }
  65% {
    border-left: 2px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 2px solid var(--white);
  }
  75% {
    color: black;
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@keyframes btnBlink {
  0% {
    color: var(--colorArticles);
    border-right: 2px solid var(--colorArticles);
  }
  5% {
    border-right: 2px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 2px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 2px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 2px solid var(--colorArticles);
  }
  40% {
    border-bottom: 2px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: black;
  }
  60% {
    border-bottom: 2px solid var(--colorArticles);
  }
  65% {
    border-left: 2px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 2px solid var(--white);
  }
  75% {
    color: black;
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@-webkit-keyframes btnBlinkB {
  0% {
    color: var(--colorArticles);
    border-right: 1px solid var(--colorArticles);
  }
  5% {
    border-right: 1px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 1px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 1px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 1px solid var(--colorArticles);
  }
  40% {
    border-bottom: 1px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 1px solid var(--colorArticles);
  }
  65% {
    border-left: 1px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 1px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@keyframes btnBlinkB {
  0% {
    color: var(--colorArticles);
    border-right: 1px solid var(--colorArticles);
  }
  5% {
    border-right: 1px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 1px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 1px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 1px solid var(--colorArticles);
  }
  40% {
    border-bottom: 1px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 1px solid var(--colorArticles);
  }
  65% {
    border-left: 1px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 1px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@-webkit-keyframes glowMovment {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-10px, 4px);
            transform: translate(-10px, 4px);
  }
  50% {
    -webkit-transform: translate(0px, 8px);
            transform: translate(0px, 8px);
  }
  75% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes glowMovment {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-10px, 4px);
            transform: translate(-10px, 4px);
  }
  50% {
    -webkit-transform: translate(0px, 8px);
            transform: translate(0px, 8px);
  }
  75% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes scanline {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
}

@keyframes scanline {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
}

@-webkit-keyframes slideKont {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
}

@keyframes slideKont {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
}

@-webkit-keyframes KolorIn {
  0% {
    background-color: var(--colorArticlesA);
  }
  100% {
    background-color: var(--colorSocial);
  }
}

@keyframes KolorIn {
  0% {
    background-color: var(--colorArticlesA);
  }
  100% {
    background-color: var(--colorSocial);
  }
}

@-webkit-keyframes hideKont {
  0% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes hideKont {
  0% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes KolorOut {
  0% {
    background-color: var(--colorSocial);
  }
  100% {
    background-color: var(--colorArticlesA);
  }
}

@keyframes KolorOut {
  0% {
    background-color: var(--colorSocial);
  }
  100% {
    background-color: var(--colorArticlesA);
  }
}

@media (max-width: 480px) {
  @-webkit-keyframes slideKont {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100vw);
              transform: translateX(-100vw);
    }
  }
  @keyframes slideKont {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100vw);
              transform: translateX(-100vw);
    }
  }
  @-webkit-keyframes hideKont {
    0% {
      -webkit-transform: translateX(-100vw);
              transform: translateX(-100vw);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes hideKont {
    0% {
      -webkit-transform: translateX(-100vw);
              transform: translateX(-100vw);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

.button, .secondary, .secondaryB, .kontakt, .kontaktM, .wysylka, .buttonDetails, .comment, .menu {
  margin: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  text-shadow: -3px 4px 3px var(--colorArticlesD);
  background-color: var(--colorArticlesB);
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  -webkit-clip-path: polygon(90% 0%, 100% 30%, 100% 100%, 10% 100%, 0% 70%, 0 0);
          clip-path: polygon(90% 0%, 100% 30%, 100% 100%, 10% 100%, 0% 70%, 0 0);
  font-family: var(--font-headers);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;
  -webkit-transition: color 0.15s ease-out, -webkit-transform 0.2s ease-out;
  transition: color 0.15s ease-out, -webkit-transform 0.2s ease-out;
  transition: color 0.15s ease-out, transform 0.2s ease-out;
  transition: color 0.15s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  border-left: 2px solid var(--colorArticles);
  border-right: 2px solid var(--colorArticles);
  border-bottom: 2px solid var(--colorArticles);
  border-top: 2px solid var(--colorArticles);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.button:hover, .secondary:hover, .secondaryB:hover, .kontakt:hover, .kontaktM:hover, .wysylka:hover, .buttonDetails:hover, .comment:hover, .menu:hover {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: btnBlink;
          animation-name: btnBlink;
  -webkit-transform: translate(-3px, 4px);
          transform: translate(-3px, 4px);
}

.button:hover + .glow, .secondary:hover + .glow, .secondaryB:hover + .glow, .kontakt:hover + .glow, .kontaktM:hover + .glow, .wysylka:hover + .glow, .buttonDetails:hover + .glow, .comment:hover + .glow, .menu:hover + .glow, .button:hover + .glowS, .secondary:hover + .glowS, .secondaryB:hover + .glowS, .kontakt:hover + .glowS, .kontaktM:hover + .glowS, .wysylka:hover + .glowS, .buttonDetails:hover + .glowS, .comment:hover + .glowS, .menu:hover + .glowS, .button:hover + .glowMe, .secondary:hover + .glowMe, .secondaryB:hover + .glowMe, .kontakt:hover + .glowMe, .kontaktM:hover + .glowMe, .wysylka:hover + .glowMe, .buttonDetails:hover + .glowMe, .comment:hover + .glowMe, .menu:hover + .glowMe {
  -webkit-filter: drop-shadow(-3px 3px 2px var(--colorArticlesD));
          filter: drop-shadow(-3px 3px 2px var(--colorArticlesD));
}

.button:hover + .glowComm, .secondary:hover + .glowComm, .secondaryB:hover + .glowComm, .kontakt:hover + .glowComm, .kontaktM:hover + .glowComm, .wysylka:hover + .glowComm, .buttonDetails:hover + .glowComm, .comment:hover + .glowComm, .menu:hover + .glowComm {
  -webkit-filter: drop-shadow(-3px 3px 2px var(--colorArticlesD));
          filter: drop-shadow(-3px 3px 2px var(--colorArticlesD));
}

.kontakt:hover + .glowKont, .kontaktM:hover + .glowKont, .wysylka:hover + .glowKont, .kontakt:hover + .glowKontM, .kontaktM:hover + .glowKontM, .wysylka:hover + .glowKontM {
  -webkit-filter: drop-shadow(3px 3px 2px var(--colorArticlesD));
          filter: drop-shadow(3px 3px 2px var(--colorArticlesD));
}

.kontaktM:hover + .glowKontM {
  -webkit-filter: drop-shadow(3px 3px 2px var(--colorArticlesD));
          filter: drop-shadow(3px 3px 2px var(--colorArticlesD));
}

.secondary, .secondaryB {
  position: absolute;
  left: calc(50% - (var(--buttonWidth) / 3) + 20px);
  top: calc(50% - (var(--buttonHeight) / 2) - 20px);
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(var(--buttonWidth) / 1.5);
  height: var(--buttonHeight);
}

.secondary:hover, .secondaryB:hover {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: btnBlinkB;
          animation-name: btnBlinkB;
  -webkit-transform: translate(-3px, 4px);
          transform: translate(-3px, 4px);
}

@media (max-width: 1600px) {
  .secondary, .secondaryB {
    font-weight: 300;
    font-size: 1.3rem;
  }
}

@media (max-width: 1024px) {
  .secondary, .secondaryB {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 15px;
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .secondary, .secondaryB {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    margin: 0px;
    font-size: 1rem;
    width: calc(var(--buttonWidth) / 1.8);
    height: calc(var(--buttonHeight) - 6px);
    left: calc(50% - (var(--buttonWidth) / 3.6));
  }
}

.secondaryB {
  top: 3px;
  left: 11px;
}

.kontakt, .kontaktM, .wysylka {
  width: var(--buttonHeight);
  height: var(--buttonWidth);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 0;
  margin: 0;
  letter-spacing: -2px;
  -webkit-clip-path: polygon(35% 100%, 0 92%, 0 8%, 35% 0, 100% 0, 100% 100%);
          clip-path: polygon(35% 100%, 0 92%, 0 8%, 35% 0, 100% 0, 100% 100%);
}

@media (max-width: 1366px) {
  .kontakt, .kontaktM, .wysylka {
    width: calc(var(--buttonHeight) - 5px);
    height: calc(var(--buttonWidth) - 30px);
    font-size: 1.2rem;
  }
}

.kontakt p, .kontaktM p, .wysylka p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
}

.kontakt:hover, .kontaktM:hover, .wysylka:hover {
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
}

.kontaktM {
  display: none;
}

@media (max-width: 480px) {
  .kontaktM {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.wysylka {
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  -webkit-clip-path: polygon(90% 0%, 100% 30%, 100% 100%, 10% 100%, 0% 70%, 0 0);
          clip-path: polygon(90% 0%, 100% 30%, 100% 100%, 10% 100%, 0% 70%, 0 0);
  letter-spacing: 1px;
}

.wysylka p {
  text-orientation: mixed;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
}

.buttonDetails {
  position: absolute;
  top: 0px;
  left: 11px;
  margin: 0;
}

.comment {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 50%);
  margin: 0;
  padding-right: 0px;
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttonWrapper {
  position: relative;
}

.buttonSWrapper, .buttonDWrapper {
  width: calc(var(--buttonWidth) / 1.5 + 10px);
  height: calc(var(--buttonHeight) + 10px);
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 1;
}

.buttonCWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.buttonDWrapper {
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  bottom: 50px;
  left: 320px;
}

@media (max-width: 480px) {
  .buttonDWrapper {
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.copy, .copyS, .copyMe, .copyComm {
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  -webkit-clip-path: polygon(90% 0%, 100% 30%, 100% 100%, 10% 100%, 0% 70%, 0 0);
          clip-path: polygon(90% 0%, 100% 30%, 100% 100%, 10% 100%, 0% 70%, 0 0);
  background-color: var(--colorArticlesE);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.copyS {
  position: absolute;
  left: 0;
  top: 6px;
  background-color: var(--colorArticlesB);
  width: calc(var(--buttonWidth) / 1.5);
}

@media (max-width: 480px) {
  .copyS {
    left: calc(50% - (var(--buttonWidth) / 3.6));
    width: calc(var(--buttonWidth) / 1.8);
    height: calc(var(--buttonHeight) - 6px);
  }
}

.copyKont, .copyKontM {
  width: var(--buttonHeight);
  height: var(--buttonWidth);
  -webkit-clip-path: polygon(35% 100%, 0 92%, 0 8%, 35% 0, 100% 0, 100% 100%);
          clip-path: polygon(35% 100%, 0 92%, 0 8%, 35% 0, 100% 0, 100% 100%);
  background-color: var(--colorArticlesB);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media (max-width: 1366px) {
  .copyKont, .copyKontM {
    width: calc(var(--buttonHeight) - 5px);
    height: calc(var(--buttonWidth) - 30px);
  }
}

.copyKontM {
  display: none;
}

@media (max-width: 480px) {
  .copyKontM {
    display: block;
  }
}

.copyWys {
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  -webkit-clip-path: polygon(90% 0%, 100% 30%, 100% 100%, 10% 100%, 0% 70%, 0 0);
          clip-path: polygon(90% 0%, 100% 30%, 100% 100%, 10% 100%, 0% 70%, 0 0);
  background-color: var(--colorArticlesB);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.copyMe {
  width: 210px;
  height: 40px;
  background-color: var(--colorArticlesE);
}

.copyComm {
  background-color: var(--colorArticlesB);
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 50%);
}

.glow, .glowS, .glowMe {
  z-index: -1;
  position: absolute;
  left: 5px;
  top: 4px;
  -webkit-filter: drop-shadow(-6px 6px 2px var(--colorArticlesF));
          filter: drop-shadow(-6px 6px 2px var(--colorArticlesF));
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

@media (max-width: 480px) {
  .glowS {
    left: calc(50% - (var(--buttonWidth) / 3.6) - 5px);
    width: calc(var(--buttonWidth) / 1.8);
    height: calc(var(--buttonHeight) - 6px);
  }
}

.glowKont, .glowKontM {
  z-index: -1;
  position: absolute;
  left: 5px;
  top: 4px;
  -webkit-filter: drop-shadow(6px 6px 2px var(--colorArticlesF));
          filter: drop-shadow(6px 6px 2px var(--colorArticlesF));
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.glowMe {
  -webkit-filter: drop-shadow(-6px 6px 2px var(--colorArticlesC));
          filter: drop-shadow(-6px 6px 2px var(--colorArticlesC));
}

.glowKontM {
  display: none;
}

@media (max-width: 480px) {
  .glowKontM {
    display: block;
  }
}

.glowComm {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: -5px;
  top: 4px;
  -webkit-filter: drop-shadow(-6px 6px 2px var(--colorArticlesF));
          filter: drop-shadow(-6px 6px 2px var(--colorArticlesF));
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.menu {
  width: 210px;
  height: 40px;
}

.news {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  padding: 0;
  margin: 0;
  left: 30px;
  position: absolute;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.art {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  padding: 0;
  margin: 0;
  right: 30px;
  position: absolute;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}
/*# sourceMappingURL=Button.module.css.map */