@-webkit-keyframes btnBlink {
  0% {
    color: var(--colorArticles);
    border-right: 2px solid var(--colorArticles);
  }
  5% {
    border-right: 2px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 2px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 2px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 2px solid var(--colorArticles);
  }
  40% {
    border-bottom: 2px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 2px solid var(--colorArticles);
  }
  65% {
    border-left: 2px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 2px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@keyframes btnBlink {
  0% {
    color: var(--colorArticles);
    border-right: 2px solid var(--colorArticles);
  }
  5% {
    border-right: 2px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 2px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 2px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 2px solid var(--colorArticles);
  }
  40% {
    border-bottom: 2px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 2px solid var(--colorArticles);
  }
  65% {
    border-left: 2px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 2px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@-webkit-keyframes btnBlinkB {
  0% {
    color: var(--colorArticles);
    border-right: 1px solid var(--colorArticles);
  }
  5% {
    border-right: 1px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 1px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 1px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 1px solid var(--colorArticles);
  }
  40% {
    border-bottom: 1px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 1px solid var(--colorArticles);
  }
  65% {
    border-left: 1px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 1px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@keyframes btnBlinkB {
  0% {
    color: var(--colorArticles);
    border-right: 1px solid var(--colorArticles);
  }
  5% {
    border-right: 1px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 1px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 1px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 1px solid var(--colorArticles);
  }
  40% {
    border-bottom: 1px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 1px solid var(--colorArticles);
  }
  65% {
    border-left: 1px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 1px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@-webkit-keyframes glowMovment {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-10px, 4px);
            transform: translate(-10px, 4px);
  }
  50% {
    -webkit-transform: translate(0px, 8px);
            transform: translate(0px, 8px);
  }
  75% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes glowMovment {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-10px, 4px);
            transform: translate(-10px, 4px);
  }
  50% {
    -webkit-transform: translate(0px, 8px);
            transform: translate(0px, 8px);
  }
  75% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes scanline {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
}

@keyframes scanline {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
}

@-webkit-keyframes slideKont {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
}

@keyframes slideKont {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
}

@-webkit-keyframes hideKont {
  0% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes hideKont {
  0% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.button, .menu, .secondary, .kontakt {
  margin: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--black);
  text-shadow: -3px 4px 3px rgba(255, 238, 0, 0.8);
  background-color: var(--colorArticlesB);
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  -webkit-clip-path: polygon(90% 0%, 100% 30%, 100% 100%, 10% 100%, 0% 70%, 0 0);
          clip-path: polygon(90% 0%, 100% 30%, 100% 100%, 10% 100%, 0% 70%, 0 0);
  font-family: var(--font-headers);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;
  -webkit-transition: color 0.15s ease-out, -webkit-transform 0.2s ease-out;
  transition: color 0.15s ease-out, -webkit-transform 0.2s ease-out;
  transition: color 0.15s ease-out, transform 0.2s ease-out;
  transition: color 0.15s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  border-left: 2px solid var(--colorArticles);
  border-right: 2px solid var(--colorArticles);
  border-bottom: 2px solid var(--colorArticles);
  border-top: 2px solid var(--colorArticles);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.button:hover, .menu:hover, .secondary:hover, .kontakt:hover {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: btnBlink;
          animation-name: btnBlink;
  -webkit-transform: translate(-3px, 4px);
          transform: translate(-3px, 4px);
}

.button:hover + .glow, .menu:hover + .glow, .secondary:hover + .glow, .kontakt:hover + .glow {
  -webkit-filter: drop-shadow(-3px 3px 2px var(--white));
          filter: drop-shadow(-3px 3px 2px var(--white));
}

.kontakt:hover + .glowKont {
  -webkit-filter: drop-shadow(-3px 3px 2px var(--white));
          filter: drop-shadow(-3px 3px 2px var(--white));
}

.menu {
  width: 210px;
  height: 40px;
}

.secondary {
  margin-left: 5px;
  padding-left: 10px;
  width: var(--buttonWidthSec);
  height: var(--buttonHeightSec);
  font-size: 1.5rem;
  color: var(--colorArticles);
  background-color: var(--color-light-grey);
  text-shadow: none;
  border-left: 1px solid var(--colorArticles);
  border-right: 1px solid var(--colorArticles);
  border-bottom: 1px solid var(--colorArticles);
  border-top: 1px solid var(--colorArticles);
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.secondary:hover {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: btnBlinkB;
          animation-name: btnBlinkB;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

@media (max-width: 1600px) {
  .secondary {
    font-weight: 300;
    font-size: 1.3rem;
  }
}

.kontakt {
  width: var(--buttonHeight);
  height: var(--buttonWidth);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 0;
  margin: 0;
  letter-spacing: -2px;
  -webkit-clip-path: polygon(35% 100%, 0 92%, 0 8%, 35% 0, 100% 0, 100% 100%);
          clip-path: polygon(35% 100%, 0 92%, 0 8%, 35% 0, 100% 0, 100% 100%);
}

.kontakt p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
}

.kontakt:hover {
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
}

.buttonWrapper {
  position: relative;
}

.copy {
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  -webkit-clip-path: polygon(90% 0%, 100% 30%, 100% 100%, 10% 100%, 0% 70%, 0 0);
          clip-path: polygon(90% 0%, 100% 30%, 100% 100%, 10% 100%, 0% 70%, 0 0);
  background-color: var(--colorArticlesB);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.copyKont {
  width: var(--buttonHeight);
  height: var(--buttonWidth);
  -webkit-clip-path: polygon(35% 100%, 0 92%, 0 8%, 35% 0, 100% 0, 100% 100%);
          clip-path: polygon(35% 100%, 0 92%, 0 8%, 35% 0, 100% 0, 100% 100%);
  background-color: var(--colorArticlesB);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.glow {
  z-index: -1;
  position: absolute;
  left: 5px;
  top: 4px;
  -webkit-filter: drop-shadow(-6px 6px 2px rgba(255, 245, 112, 0.932));
          filter: drop-shadow(-6px 6px 2px rgba(255, 245, 112, 0.932));
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.glowKont {
  z-index: -1;
  position: absolute;
  left: 5px;
  top: 4px;
  -webkit-filter: drop-shadow(6px 6px 2px rgba(255, 245, 112, 0.932));
          filter: drop-shadow(6px 6px 2px rgba(255, 245, 112, 0.932));
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
/*# sourceMappingURL=Button.module.css.map */