.button {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 0;
  background-color: var(--colorArticles);
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  clip-path: polygon(90% 0%, 100% 30%, 100% 100%, 10% 100%, 0% 70%, 0 0);
  border: none;

  font-family: var(--font-headers);
  // font-weight: 600;
  font-size: var(--fontSizeS);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;
}

.secondary {
  margin-left: 5px;
  padding-left: 10px;
  @extend .button;
  width: var(--buttonWidthSec);
  height: var(--buttonHeightSec);
  font-size: 1.5rem;
  color: var(--colorArticles);
  background-color: var(--color-light-grey);
  border-left: 1px solid var(--colorArticles);
  border-top: 1px solid var(--colorArticles);
}
