.wrapperHeader {
  margin-top: 10px;
  margin-bottom: 40px;
  position: absolute;
  top: 0;
  left: 55%;
  width: 75%;
  height: 107px;
  transform: translate(-50%, 0%);
  // border: 1px solid var(--white);
  //   overflow: hidden;
}

.innerWrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: calc(66.9% + 80px);
  height: 100%;
  // border: 1px solid white;
}

.helper {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 960px;
  height: 84px;
  // border: 2px solid red;
}

.line1 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: calc(100% - 80px);
  border-top: 2px solid var(--black);
}

.line2 {
  position: absolute;
  top: -1px;
  right: 19px;
  width: 20px;
  border-top: 2px solid var(--black);
  transform: rotate(45deg);
  transform-origin: top left;
}

.line3 {
  position: absolute;
  top: 14px;
  right: 25px;
  height: 39px;
  border-right: 2px solid var(--black);
  // transform: rotate(90deg);
  transform-origin: top right;
}

.line4 {
  position: absolute;
  top: 53px;
  right: 26px;
  width: 20px;
  border-top: 2px solid var(--black);
  transform: rotate(-45deg);
  transform-origin: top right;
}

.line5 {
  position: absolute;
  top: 67px;
  right: 39px;
  width: calc(50% - 40px);
  border-bottom: 2px solid var(--black);
}

.line6 {
  position: absolute;
  top: 67px;
  left: calc(50% - 19px);
  width: 20px;
  border-bottom: 2px solid var(--black);
  transform-origin: top right;
  transform: rotate(-45deg);
}

.line7 {
  position: absolute;
  top: 81px;
  left: 41px;
  width: calc(50% - 52px);
  transform-origin: top right;
  border-bottom: 2px solid var(--black);
}

.line8 {
  position: absolute;
  top: 67px;
  left: 27px;
  width: 20px;
  border-bottom: 2px solid var(--black);
  transform: rotate(45deg);
  transform-origin: bottom left;
}

.line9 {
  position: absolute;
  top: 14px;
  left: 27px;
  height: 55px;
  border-left: 2px solid var(--black);
}
.line10 {
  position: absolute;
  top: 14px;
  left: 28px;
  width: 20px;
  border-bottom: 2px solid var(--black);
  transform: rotate(-45deg);
  transform-origin: bottom left;
}
