@import '../../../scss/animations';
.wrapperHeader {
  margin-top: 10px;
  margin-bottom: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  height: 107px;
  transform: translate(-50%, 0%);
  // border: 1px solid var(--white);
  //
  //   overflow: hidden;
}

.innerWrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80%;
  height: 100%;
  // border: 1px solid white;
}

.line1 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: calc(100% - 80px);
  border-top: 2px solid var(--black);
}

.line2 {
  position: absolute;
  top: 0px;
  right: 19px;
  width: 20px;
  border-top: 2px solid var(--black);
  transform: rotate(45deg);
  transform-origin: top left;
}

.line2A {
  position: absolute;
  top: 14px;
  right: -3px;
  width: 20px;
  border-top: 1px solid var(--blackA);
  transform: rotate(-45deg);
  transform-origin: top left;
}

.line3 {
  position: absolute;
  top: 14px;
  right: 25px;
  height: 40px;
  border-right: 2px solid var(--black);
  transform-origin: top right;
}

.line3A {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 40px;
  border-right: 1px solid var(--blackA);
  transform-origin: top right;
}

.line4 {
  position: absolute;
  top: 53px;
  right: 26px;
  width: 20px;
  border-top: 2px solid var(--black);
  transform: rotate(-45deg);
  transform-origin: top right;
}

.line4A {
  position: absolute;
  top: 68px;
  right: 1px;
  width: 20px;
  border-top: 1px solid var(--blackA);
  transform: rotate(45deg);
  transform-origin: top right;
}

.line5 {
  position: absolute;
  top: 67px;
  left: calc(53px + 31% * 1.25);
  width: calc(100% - 92px - 31% * 1.25);
  border-bottom: 2px solid var(--black);
}

.line6 {
  position: absolute;
  top: 67px;
  left: calc(34px + 31% * 1.25);
  width: 20px;
  border-bottom: 2px solid var(--black);
  transform-origin: top right;
  transform: rotate(-45deg);
}

.line6A {
  position: absolute;
  bottom: -2px;
  left: calc(34px + 31% * 1.25);
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  transform-origin: top right;
  transform: rotate(45deg);
}

.line7 {
  position: absolute;
  top: 81px;
  left: 41px;
  width: calc(31% * 1.25);
  transform-origin: top right;
  border-bottom: 2px solid var(--black);
}

.line7A {
  position: absolute;
  bottom: 12px;
  left: 40px;
  width: calc(31% * 1.25);
  transform-origin: top right;
  border-bottom: 1px solid var(--blackA);
}

.line8 {
  position: absolute;
  top: 67px;
  left: 27px;
  width: 20px;
  border-bottom: 2px solid var(--black);
  transform: rotate(45deg);
  transform-origin: bottom left;
}

.line8A {
  position: absolute;
  bottom: -2px;
  left: 27px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.line8B {
  position: absolute;
  bottom: 24px;
  left: 3px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.line9 {
  position: absolute;
  top: 14px;
  left: 27px;
  height: 55px;
  border-left: 2px solid var(--black);
}

.line9A {
  position: absolute;
  top: 14px;
  left: 16px;
  height: 55px;
  border-left: 1px solid var(--blackA);
}

.line10 {
  position: absolute;
  top: 14px;
  left: 28px;
  width: 20px;
  border-bottom: 2px solid var(--black);
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.line10A {
  position: absolute;
  top: -1px;
  left: 2px;
  width: 20px;
  border-bottom: 1px solid var(--blackA);
  transform: rotate(45deg);
  transform-origin: bottom left;
}

.lineA {
  position: absolute;
  width: 15px;
  left: 35px;
  bottom: 41px;
  border-bottom: 2px solid var(--colorArticles);
  transform: rotate(45deg);
  transform-origin: center left;
}

.lineB {
  position: absolute;
  width: calc(31% * 1.25 - 8px);
  left: 45px;
  bottom: 31px;
  border-bottom: 2px solid var(--colorArticles);
}

.lineC {
  position: absolute;
  width: 17px;
  left: calc(31% * 1.25 + 48px);
  top: 62px;
  border-bottom: 2px solid var(--colorArticles);
  transform: rotate(135deg);
  transform-origin: center left;
}

.lineD {
  position: absolute;
  height: 57px;
  left: calc(31% * 1.25 + 47px);
  top: 7px;
  border-right: 2px solid var(--colorArticles);
  transform-origin: center right;
}

.lineE {
  position: absolute;
  left: 46px;
  width: calc(31% * 1.25 + 1px);
  top: 7px;
  border-bottom: 2px solid var(--colorArticles);
}

.lineF {
  position: absolute;
  width: 16px;
  left: 31px;
  top: 6px;
  border-bottom: 2px solid var(--colorArticles);
  transform: rotate(-45deg);
  transform-origin: center right;
}

.lineG {
  position: absolute;
  height: 48px;
  left: 35px;
  top: 18px;
  border-right: 2px solid var(--colorArticles);
}

.bgkWrap {
  position: absolute;
  width: calc(31% * 1.25 + 14px);
  height: 70px;
  left: 35px;
  top: 6px;
  clip-path: polygon(0 20%, 3% 0, 100% 0, 100% 80%, 97% 100%, 2% 100%, 0 80%);
  overflow: hidden;

  @media (min-width: 1921px) {
    clip-path: polygon(0 20%, 2% 0, 100% 0, 100% 80%, 98% 100%, 2% 100%, 0 80%);
  }
}

.scanline {
  width: 100%;
  height: 35%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    var(--colorArticlesA) 10%,
    rgba(49, 0, 0, 0.1) 100%
  );
  opacity: 0.55;
  position: absolute;
  bottom: 100%;
  transform: translateY(0);
  will-change: transform;
  animation: scanline 7s linear infinite;
}

.background {
  position: absolute;
  background-color: var(--colorArticlesB);
  width: 100%;
  height: 100%;
}

.lines {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(24, 0, 0, 0) 50%, var(--colorArticlesB) 50%);
  background-size: 100% 4px;
  opacity: 0.4;
}
