.wrapperHeader {
  margin-top: 10px;
  margin-bottom: 40px;
  position: absolute;
  top: 0;
  left: 55%;
  width: 75%;
  height: 107px;
  transform: translate(-50%, 0%);
  border: 1px solid var(--white);
  opacity: 0.55;
  //   overflow: hidden;
}
.helper {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 960px;
  height: 84px;
  // border: 2px solid red;
}

.line1 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 66.9%;
  border-top: 2px solid greenyellow;
}

.line2 {
  position: absolute;
  top: 0;
  left: 83.5%;
  width: 20px;
  border-bottom: 2px solid orangered;
  transform: rotate(45deg);
  transform-origin: top left;
}

.line3 {
  position: absolute;
  top: 15px;
  right: 15%;
  height: 39px;
  border-right: 2px solid orangered;
  transform-origin: top center;
}

.line4 {
  position: absolute;
  top: 54px;
  left: 84.5%;
  width: 20px;
  border-top: 2px solid orangered;
  transform: rotate(135deg);
  transform-origin: top left;
}

.line5 {
  position: absolute;
  top: 67px;
  left: calc(50% + 2px);
  width: 33.35%;
  transform-origin: center left;
  border-bottom: 2px solid orangered;
}

.line6 {
  position: absolute;
  top: 67px;
  right: calc(50% - 2px);
  width: 20px;
  border-bottom: 2px solid orangered;
  transform: rotate(-45deg);
  transform-origin: top right;
}

.line7 {
  position: absolute;
  top: 81px;
  right: calc(50% + 11px);
  transform-origin: top right;
  width: 32.5%;
  border-bottom: 2px solid orangered;
}

.line8 {
  position: absolute;
  top: 67px;
  left: 15.7%;
  width: 20px;
  border-bottom: 2px solid orangered;
  transform: rotate(45deg);
  transform-origin: bottom left;
}

.line9 {
  position: absolute;
  top: 14px;
  left: 15.65%;
  height: 55px;
  border-left: 2px solid orangered;
}

.line10 {
  position: absolute;
  top: 14px;
  left: 15.7%;
  width: 20px;
  border-bottom: 2px solid orangered;
  transform: rotate(-45deg);
  transform-origin: bottom left;
}
