@-webkit-keyframes btnBlink {
  0% {
    color: var(--colorArticles);
    border-right: 2px solid var(--colorArticles);
  }
  5% {
    border-right: 2px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 2px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 2px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 2px solid var(--colorArticles);
  }
  40% {
    border-bottom: 2px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 2px solid var(--colorArticles);
  }
  65% {
    border-left: 2px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 2px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@keyframes btnBlink {
  0% {
    color: var(--colorArticles);
    border-right: 2px solid var(--colorArticles);
  }
  5% {
    border-right: 2px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 2px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 2px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 2px solid var(--colorArticles);
  }
  40% {
    border-bottom: 2px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 2px solid var(--colorArticles);
  }
  65% {
    border-left: 2px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 2px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@-webkit-keyframes btnBlinkB {
  0% {
    color: var(--colorArticles);
    border-right: 1px solid var(--colorArticles);
  }
  5% {
    border-right: 1px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 1px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 1px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 1px solid var(--colorArticles);
  }
  40% {
    border-bottom: 1px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 1px solid var(--colorArticles);
  }
  65% {
    border-left: 1px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 1px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@keyframes btnBlinkB {
  0% {
    color: var(--colorArticles);
    border-right: 1px solid var(--colorArticles);
  }
  5% {
    border-right: 1px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 1px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 1px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 1px solid var(--colorArticles);
  }
  40% {
    border-bottom: 1px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 1px solid var(--colorArticles);
  }
  65% {
    border-left: 1px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 1px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@-webkit-keyframes glowMovment {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-10px, 4px);
            transform: translate(-10px, 4px);
  }
  50% {
    -webkit-transform: translate(0px, 8px);
            transform: translate(0px, 8px);
  }
  75% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes glowMovment {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-10px, 4px);
            transform: translate(-10px, 4px);
  }
  50% {
    -webkit-transform: translate(0px, 8px);
            transform: translate(0px, 8px);
  }
  75% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes scanline {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
}

@keyframes scanline {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
}

@-webkit-keyframes slideKont {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
}

@keyframes slideKont {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
}

@-webkit-keyframes hideKont {
  0% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes hideKont {
  0% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.contactWrapper {
  height: 100%;
  width: 385px;
  position: absolute;
  top: 0;
  right: -365px;
}

.bgkWrap {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 17.5%, 5.5% 15%, 25.5% 15%, 31.5% 12.5%, 31.5% 2%, 37% 0, 100% 0, 100% 100%, 37% 100%, 31.5% 98%, 31.5% 87%, 26.5% 85%, 5.5% 85%, 0 82.5%);
          clip-path: polygon(0 17.5%, 5.5% 15%, 25.5% 15%, 31.5% 12.5%, 31.5% 2%, 37% 0, 100% 0, 100% 100%, 37% 100%, 31.5% 98%, 31.5% 87%, 26.5% 85%, 5.5% 85%, 0 82.5%);
}

.Top {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  width: 263px;
  height: 10%;
  border: 1px solid white;
}

.Top h2 {
  display: block;
  text-align: left;
  display: block;
  font-size: var(--fontSizeL);
  font-weight: var(--bold);
  font-family: var(--font-headers);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--colorArticles);
  text-shadow: -4px 4px 2px black;
}

.Middle {
  position: absolute;
  top: calc(15% + 20px);
  right: 0;
  width: 385px;
  height: calc(100% - (60% + 40px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid white;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--colorArticlesA);
}

.lines {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(24, 0, 0, 0)), color-stop(50%, var(--colorArticlesB)));
  background: linear-gradient(to bottom, rgba(24, 0, 0, 0) 50%, var(--colorArticlesB) 50%);
  background-size: 100% 4px;
  opacity: 0.8;
}

.scanline {
  width: 100%;
  height: 35%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(10%, var(--colorArticlesA)), to(rgba(49, 0, 0, 0.1)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--colorArticlesA) 10%, rgba(49, 0, 0, 0.1) 100%);
  opacity: 0.55;
  position: absolute;
  bottom: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  will-change: transform;
  -webkit-animation: scanline 16s linear infinite;
          animation: scanline 16s linear infinite;
}

.btnWrapper {
  position: absolute;
  top: 50%;
  left: -50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.lineRight {
  position: absolute;
  right: 0;
  top: 0;
  border-right: 2px solid var(--colorArticles);
  height: 100%;
}

.lineLeft {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: calc(100% - (30% + 40px));
  border-right: 2px solid var(--colorArticles);
}

.lineTop {
  position: absolute;
  border-top: 2px solid var(--colorArticles);
  right: 2px;
  width: 243px;
  top: 0;
}

.lineBottom {
  position: absolute;
  border-bottom: 2px solid var(--colorArticles);
  right: 2px;
  width: 243px;
  bottom: 0;
}

.line1 {
  position: absolute;
  right: 243px;
  top: 2px;
  -webkit-transform: skew(135deg);
          transform: skew(135deg);
  height: 20px;
  border-left: 3px solid var(--colorArticles);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line2 {
  position: absolute;
  right: 263px;
  top: 20px;
  min-height: 20px;
  height: calc(15% - 40px);
  border-left: 2px solid var(--colorArticles);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line3 {
  position: absolute;
  right: 263px;
  top: calc(15% - 20px);
  -webkit-transform: skew(135deg);
          transform: skew(135deg);
  height: 20px;
  border-left: 3px solid var(--colorArticles);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line4 {
  position: absolute;
  right: 284px;
  top: 15%;
  width: 80px;
  border-top: 2px solid var(--colorArticles);
}

.line5 {
  position: absolute;
  right: 363px;
  top: 15%;
  -webkit-transform: skewY(-45deg);
          transform: skewY(-45deg);
  width: 20px;
  border-top: 2px solid var(--colorArticles);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.line6 {
  position: absolute;
  right: 243px;
  bottom: 2px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  height: 20px;
  border-left: 3px solid var(--colorArticles);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.line7 {
  position: absolute;
  right: 263px;
  bottom: 20px;
  min-height: 20px;
  height: calc(15% - 40px);
  border-left: 2px solid var(--colorArticles);
}

.line8 {
  position: absolute;
  right: 263px;
  bottom: calc(15% - 20px);
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  height: 20px;
  border-left: 3px solid var(--colorArticles);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.line9 {
  position: absolute;
  right: 284px;
  bottom: 15%;
  width: 80px;
  border-top: 2px solid var(--colorArticles);
}

.line10 {
  position: absolute;
  right: 363px;
  bottom: 15%;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  width: 20px;
  border-top: 2px solid var(--colorArticles);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
/*# sourceMappingURL=ContactBar.module.css.map */