.wrapper {
  width: 100%;
  // margin: 2rem auto;
  height: 100%;

  // grid-template-rows: 1fr 3fr;
}
.form {
  height: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.leftWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  // align-items: center;
  border: 1px solid red;
  width: 20%;
  height: 100%;
}

.rightWrap {
  border: 1px solid red;
  width: 80%;
  height: 100%;
  margin-left: 20px;
}
