.wrapper {
  width: 100%;
  height: 100%;
  // border: 1px solid green;
}
.form {
  height: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  // border: 1px solid red;
  width: 25%;
  height: 12vh;
  padding: 10px;
}

.rightWrap {
  // border: 1px solid red;
  padding: 10px;
  width: 75%;
  height: 12vh;
  border-left: 1px solid var(--colorArticles);
}
