.bgWrapper {
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 70%;
  border: 1px solid var(--black);
}

.grid {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 40px;
  bottom: 40px;
  border: 1px solid black;
  background-image: url(../../../assets/siatkaC.webp);
  opacity: 0.12;
  background-position: 20px 31px;
}

.miarkaL {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background-image: url(../../../assets/miarka.webp);
  background-position: 0px 30px;
}

.miarkaR {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background-image: url(../../../assets/miarka.webp);
  background-position: -10px 30px;
}

.lineL {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  border-left: 2px solid var(--black);
}

.line1 {
  position: absolute;
  left: 20px;
  top: calc(25% - 20px);
  transform: skew(45deg);
  height: 20px;
  border-left: 2px solid var(--black);
  transform-origin: bottom center;
}

.line2 {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(25% - 19px);
  border-left: 2px solid var(--black);
  transform-origin: bottom center;
}

.line3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  border-top: 2px solid var(--black);
  transform-origin: center left;
}

.line4 {
  position: absolute;
  left: 10%;
  top: 0;
  width: 20px;
  transform: skewY(45deg);
  border-top: 2px solid var(--black);
  transform-origin: center left;
}

.line5 {
  position: absolute;
  left: calc(10% + 20px);
  top: 19px;
  width: 31%;
  border-top: 2px solid var(--black);
  transform-origin: center left;
}

.line6 {
  position: absolute;
  left: calc(41% + 20px);
  top: 19px;
  width: 20px;
  border-top: 2px solid var(--black);
  transform-origin: center left;
  transform: skewY(-45deg);
}

.line7 {
  position: absolute;
  left: calc(41% + 39px);
  top: 0px;
  width: calc(59% - 60px);
  border-top: 2px solid var(--black);
  transform-origin: center left;
}

.line8 {
  position: absolute;
  right: 1px;
  top: 0px;
  width: 20px;
  transform: skewY(45deg);
  border-top: 2px solid var(--black);
  transform-origin: center left;
}

.line9 {
  position: absolute;
  right: 0px;
  top: 20px;
  width: 0px;
  height: calc(25% - 39px);
  border-right: 2px solid var(--black);
  transform-origin: center right;
}

.line10 {
  position: absolute;
  right: 0;
  top: calc(25% - 20px);
  transform: skew(135deg);
  height: 20px;
  border-left: 2px solid var(--black);
  transform-origin: top right;
}

.lineR {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  border-left: 2px solid var(--black);
}

.line11 {
  position: absolute;
  right: 20px;
  bottom: calc(25% - 19px);
  height: 20px;
  transform: skew(45deg);
  border-right: 2px solid var(--black);
  transform-origin: top right;
}

.line12 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: calc(25% - 19px);
  border-right: 2px solid var(--black);
  transform-origin: bottom center;
}

.line13 {
  position: absolute;
  bottom: 0;
  right: 0;
  border-right-color: 0;
  width: 21%;
  border-bottom: 2px solid var(--black);
  transform-origin: center left;
}

.line14 {
  position: absolute;
  bottom: 0;
  right: 21%;
  border-right-color: 0;
  width: 20px;
  transform: skewY(45deg);
  border-bottom: 2px solid var(--black);
  transform-origin: center right;
}

.line15 {
  position: absolute;
  right: calc(21% + 20px);
  bottom: 20px;
  width: 33%;
  border-bottom: 2px solid var(--black);
  transform-origin: center left;
}

.line16 {
  position: absolute;
  right: calc(54% + 19px);
  bottom: 20px;
  width: 20px;
  transform: skewY(135deg);
  border-bottom: 2px solid var(--black);
  transform-origin: center right;
}

.line17 {
  position: absolute;
  right: calc(54% + 39px);
  bottom: 0;
  width: calc(46% - 60px);
  border-bottom: 2px solid var(--black);
  transform-origin: center right;
}

.line18 {
  position: absolute;
  left: 1px;
  bottom: 20px;
  width: 20px;
  transform: skewY(45deg);
  border-bottom: 2px solid var(--black);
  transform-origin: center left;
}

.line19 {
  position: absolute;
  left: 0;
  bottom: 20px;
  height: calc(25% - 39px);
  border-left: 2px solid var(--black);
  transform-origin: center bottom;
}

.line20 {
  position: absolute;
  left: 0;
  bottom: calc(25% - 19px);
  height: 20px;
  transform: skew(-45deg);
  border-left: 2px solid var(--black);
  transform-origin: center bottom;
}
