@import '../../../scss/animations';

.sidebar {
  position: fixed;
  width: 170px;
  height: 100vh;
  left: 0;
  top: 0;
  // z-index: 1;
  background-image: url('../../../assets/icons/palster.svg');
  background-repeat: repeat;
  background-position: 32.2%, 32.2%;
  background-size: 32.2%;
  mask-image: url('../../../assets/icons/maska.svg');
  mask-repeat: repeat;
  mask-position: 32.2%, 32.2%;
  mask-size: 32.2%;
}

.background {
  position: fixed;
  width: 170px;
  height: 100vh;
  left: 0;
  top: 0;
  // z-index: -1;

  // background: rgb(0, 0, 0);
  background: var(--colorMainGrey);
}

.wrapper {
  position: fixed;
  width: 170px;
  height: 100vh;
  left: 0;
  top: 0;
}

.glowWrapper {
  position: absolute;
  top: 110px;
  left: 0;
  width: 170px;
  height: 240px;
  // border: 1px solid black;
  // z-index: 1;
}

.glow {
  position: absolute;
  top: 0%;
  transform: translateY(0);
  left: -15px;
  height: 70px;
  width: 185px;
  background: radial-gradient(
    closest-side,
    rgb(255, 244, 214),
    var(--colorArticles),
    var(--colorMainGrey)
  );
  transition: top 0.4s ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-name: glowMovment;
}

.animeA {
  top: 0%;
}
.animeB {
  top: 25%;
}
.animeC {
  top: 50%;
}
.animeD {
  top: 75%;
}
