@-webkit-keyframes btnBlink {
  0% {
    color: var(--colorArticles);
    border-right: 2px solid var(--colorArticles);
  }
  5% {
    border-right: 2px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 2px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 2px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 2px solid var(--colorArticles);
  }
  40% {
    border-bottom: 2px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 2px solid var(--colorArticles);
  }
  65% {
    border-left: 2px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 2px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@keyframes btnBlink {
  0% {
    color: var(--colorArticles);
    border-right: 2px solid var(--colorArticles);
  }
  5% {
    border-right: 2px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 2px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 2px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 2px solid var(--colorArticles);
  }
  40% {
    border-bottom: 2px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 2px solid var(--colorArticles);
  }
  65% {
    border-left: 2px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 2px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@-webkit-keyframes btnBlinkB {
  0% {
    color: var(--colorArticles);
    border-right: 1px solid var(--colorArticles);
  }
  5% {
    border-right: 1px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 1px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 1px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 1px solid var(--colorArticles);
  }
  40% {
    border-bottom: 1px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 1px solid var(--colorArticles);
  }
  65% {
    border-left: 1px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 1px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@keyframes btnBlinkB {
  0% {
    color: var(--colorArticles);
    border-right: 1px solid var(--colorArticles);
  }
  5% {
    border-right: 1px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 1px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 1px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 1px solid var(--colorArticles);
  }
  40% {
    border-bottom: 1px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 1px solid var(--colorArticles);
  }
  65% {
    border-left: 1px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 1px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@-webkit-keyframes glowMovment {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-10px, 4px);
            transform: translate(-10px, 4px);
  }
  50% {
    -webkit-transform: translate(0px, 8px);
            transform: translate(0px, 8px);
  }
  75% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes glowMovment {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-10px, 4px);
            transform: translate(-10px, 4px);
  }
  50% {
    -webkit-transform: translate(0px, 8px);
            transform: translate(0px, 8px);
  }
  75% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes scanline {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
}

@keyframes scanline {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
}

.sidebar {
  position: fixed;
  width: 170px;
  height: calc(100vh - 12px);
  left: 6px;
  top: 6px;
  background-image: url("../../../assets/icons/palsterB.svg");
  background-repeat: repeat;
  background-position: 32.2%, 32.2%;
  background-size: 32.2%;
  -webkit-mask-image: url("../../../assets/icons/maska.svg");
          mask-image: url("../../../assets/icons/maska.svg");
  -webkit-mask-repeat: repeat;
          mask-repeat: repeat;
  -webkit-mask-position: 32.2%, 32.2%;
          mask-position: 32.2%, 32.2%;
  -webkit-mask-size: 32.2%;
          mask-size: 32.2%;
  -webkit-clip-path: polygon(0 1.6%, 10% 0, 100% 0, 100% 100%, 10% 100%, 0 98.4%);
          clip-path: polygon(0 1.6%, 10% 0, 100% 0, 100% 100%, 10% 100%, 0 98.4%);
}

.background {
  position: fixed;
  width: 170px;
  height: 100vh;
  left: 0;
  top: 0;
  background: var(--colorMainGrey);
}

.borderMenuWrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 10px;
  width: 250px;
  height: 280px;
}

.cornerTopRight {
  position: absolute;
  top: 1px;
  right: -2px;
  width: 21px;
  outline: 1px solid var(--colorArticles);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.cornerBottomRight {
  position: absolute;
  bottom: 1px;
  right: -2px;
  width: 21px;
  outline: 1px solid var(--colorArticles);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.cornerMiddle {
  position: absolute;
  bottom: 1px;
  right: 44.6%;
  width: 21px;
  outline: 1px solid var(--colorArticles);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(215deg);
          transform: rotate(215deg);
}

.cornerBottomLeft {
  position: absolute;
  bottom: 27px;
  left: 1px;
  width: 21px;
  outline: 1px solid var(--colorArticles);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.bottomLine {
  position: absolute;
  width: 31.5%;
  bottom: 14px;
  left: 20px;
  outline: 1px solid var(--colorArticles);
}

.topLine {
  position: absolute;
  width: 90%;
  top: -8px;
  left: 0;
  border-top: 1px solid var(--colorArticlesB);
}

.topLineCorner {
  position: absolute;
  width: 13px;
  top: -13px;
  left: 89.3%;
  border-top: 1px solid var(--colorArticlesB);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.rightLine {
  position: absolute;
  top: 5%;
  bottom: 5%;
  right: -8px;
  border-right: 1px solid var(--colorArticlesB);
}

.rightLineCornerA {
  position: absolute;
  top: 3px;
  height: 13px;
  right: -13px;
  border-right: 1px solid var(--colorArticlesB);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.rightLineCornerB {
  position: absolute;
  height: 13px;
  right: -13px;
  border-right: 1px solid var(--colorArticlesB);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 94.3%;
}

.underLine {
  position: absolute;
  width: 45%;
  bottom: -8px;
  right: 20px;
  border-bottom: 1px solid var(--colorArticlesB);
}

.underLineCornerB {
  position: absolute;
  width: 5%;
  bottom: -13px;
  right: 10px;
  border-bottom: 1px solid var(--colorArticlesB);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.underLineCornerA {
  position: absolute;
  width: 5%;
  bottom: -13px;
  right: calc(18px + 45%);
  border-bottom: 1px solid var(--colorArticlesB);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.borderMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
  height: 280px;
  border: 2px solid var(--colorArticles);
  -webkit-clip-path: polygon(0% 0%, 92% 0, 100% 5%, 100% 95%, 92% 100%, 48% 100%, 40% 95%, 8% 95%, 0 90%);
          clip-path: polygon(0% 0%, 92% 0, 100% 5%, 100% 95%, 92% 100%, 48% 100%, 40% 95%, 8% 95%, 0 90%);
  background-color: var(--colorArticlesB);
}

.backgroundMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
  height: 280px;
  -webkit-clip-path: polygon(0% 0%, 92% 0, 100% 5%, 100% 95%, 92% 100%, 48% 100%, 40% 95%, 8% 95%, 0 90%);
          clip-path: polygon(0% 0%, 92% 0, 100% 5%, 100% 95%, 92% 100%, 48% 100%, 40% 95%, 8% 95%, 0 90%);
  overflow: hidden;
}

.backgroundMenu::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(24, 0, 0, 0)), color-stop(50%, var(--colorArticlesB)));
  background: linear-gradient(to bottom, rgba(24, 0, 0, 0) 50%, var(--colorArticlesB) 50%);
  background-size: 100% 4px;
  z-index: 2;
  pointer-events: none;
  opacity: 0.4;
}

.scanline {
  width: 100%;
  height: 25%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(10%, var(--colorArticlesA)), to(rgba(49, 0, 0, 0.1)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--colorArticlesA) 10%, rgba(49, 0, 0, 0.1) 100%);
  opacity: 0.55;
  position: absolute;
  bottom: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  will-change: transform;
  -webkit-animation: scanline 8s linear infinite;
          animation: scanline 8s linear infinite;
}

.titleMenu {
  display: box;
  position: absolute;
  right: 18px;
  bottom: 2px;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: var(--font-pixel);
  color: var(--colorArticlesC);
}

.wrapper {
  position: fixed;
  width: 170px;
  height: 100vh;
  left: 0;
  top: 0;
}

.glowWrapper {
  position: absolute;
  top: 49%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  width: 170px;
  height: 250px;
  border: 1px solid black;
}

.glow {
  position: absolute;
  top: 0%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  left: -15px;
  height: 70px;
  width: 185px;
  background: radial-gradient(closest-side, #fff4d6, var(--colorArticles), var(--colorMainGrey));
  -webkit-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: glowMovment;
          animation-name: glowMovment;
}

.animeA {
  top: 0%;
}

.animeB {
  top: 25%;
}

.animeC {
  top: 50%;
}

.animeD {
  top: 75%;
}
/*# sourceMappingURL=SideBar.css.map */