body {
  padding-left: 170px;
  font-family: $font-main;
  font-size: 1.6rem;
  background-color: var(--colorMainGrey);
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredB {
  margin: 3rem auto;
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
