@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Libre+Barcode+39&family=Montserrat:wght@300;600&family=Press+Start+2P&display=swap');
:root {
  --cardWidth: 440px;
  --cardHeight: 360px;
  --buttonWidth: 210px;
  --buttonWidthSec: 120px;
  --buttonHeight: 40px;
  --buttonHeightSec: 30px;
  --inputHeight: 40px;
  --inputWidth: 200px;

  --colorNews: #2bd8ff;
  --colorNewsDark: #0060df;
  --colorPeople: #ff2bd8;
  --colorPeopleDark: #ce132c;
  --colorArticles: #ffd82b;
  --colorArticlesA: #ffd82b25;
  --colorArticlesB: #ffd82b4f;
  --colorArticlesC: #ffd900a9;
  --colorArticlesD: #ffde25;
  --colorArticlesDark: #ff9100;
  --color-light-grey: #8d8d8d;
  --colorMainGrey: #373737;
  --colorGrey100: hsl(0, 0%, 75%);
  --colorGrey200: hsl(0, 0%, 60%);
  --colorGrey300: hsl(0, 0%, 50%);
  --colorGrey400: hsl(0, 0%, 30%);

  --colorBgkL: rgba(98, 97, 89, 1);
  --colorBgkD: rgba(59, 58, 52, 1);
  --black: rgb(19, 19, 19);
  --blackA: rgba(19, 19, 19, 0.4);
  --white: hsl(255, 100%, 100%);

  --fontSizeXXS: 1rem;
  --fontSizeXS: 1.2rem;
  --fontSizeS: 1.6rem;
  --fontSizeM: 2.1rem;
  --fontSizeL: 2.4rem;
  --fontSizeXL: 4rem;
  --light: 300;
  --bold: 600;

  --font-headers: 'Audiowide', cursive;
  --font-code: 'Libre Barcode 39', cursive;
  --font-pixel: 'Press Start 2P', cursive;
}

html {
  font-size: 62.5%; // tzw. Happy Remki ale 10 px ustawione tutaj robi z Remkami dokładnie to samo ??? :0
}
$font-main: 'Montserrat', sans-serif;
