@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Libre+Barcode+39&family=Montserrat:wght@300;600&family=Press+Start+2P&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus {
  outline: 0;
}

button:focus {
  outline: 0;
}

textarea:focus {
  outline: 0;
}

:root {
  --cardWidth: 440px;
  --cardHeight: 360px;
  --buttonWidth: 210px;
  --buttonWidthSec: 120px;
  --buttonHeight: 40px;
  --buttonHeightSec: 30px;
  --inputHeight: 40px;
  --inputWidth: 240px;
  --colorNews: #2bd8ff;
  --colorNewsDark: #0060df;
  --colorPeople: #ff2bd8;
  --colorPeopleDark: #ce132c;
  --colorArticles: #ffd82b;
  --colorArticlesA: #ffd82b25;
  --colorArticlesB: #ffd82b4f;
  --colorArticlesC: #ffd900a9;
  --colorArticlesD: #ffde25;
  --colorArticlesDark: #ff9100;
  --color-light-grey: #8d8d8d;
  --colorMainGrey: #373737;
  --colorGrey100: hsl(0, 0%, 75%);
  --colorGrey200: hsl(0, 0%, 60%);
  --colorGrey300: hsl(0, 0%, 50%);
  --colorGrey400: hsl(0, 0%, 30%);
  --colorBgkL: rgba(98, 97, 89, 1);
  --colorBgkD: rgba(59, 58, 52, 1);
  --colorBgkVD: rgb(45, 44, 37);
  --black: rgb(80, 80, 80);
  --blackA: rgba(80, 80, 80, 0.6);
  --white: hsl(255, 100%, 100%);
  --colorSocial: rgb(5, 5, 5);
  --fontSizeXXS: 1rem;
  --fontSizeXS: 1.2rem;
  --fontSizeS: 1.6rem;
  --fontSizeM: 2.1rem;
  --fontSizeL: 2.4rem;
  --fontSizeXL: 4rem;
  --light: 300;
  --bold: 600;
  --font-headers: 'Audiowide', cursive;
  --font-code: 'Libre Barcode 39', cursive;
  --font-pixel: 'Press Start 2P', cursive;
}

.logo1 {
  fill: var(--white);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

html {
  font-size: 62.5%;
}

body {
  padding-left: 176px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  overflow: hidden;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(11%, var(--colorBgkL)), color-stop(20%, var(--colorBgkD)), color-stop(89%, var(--colorBgkD)), color-stop(98%, var(--colorBgkL)), to(#32322d));
  background: linear-gradient(90deg, var(--colorBgkL) 11%, var(--colorBgkD) 20%, var(--colorBgkD) 89%, var(--colorBgkL) 98%, #32322d 100%);
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centeredB {
  margin: 3rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.routeLink {
  text-decoration: none;
}

.page {
  position: relative;
  width: calc(100vw - 176px);
  height: 100vh;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.75;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7e6700;
  mix-blend-mode: overlay;
}

.twitter-follow-button {
  font-family: var(--font-headers);
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--white);
  text-decoration: none;
}

.twitter-follow-button:hover {
  color: var(--black);
}

.contactSlide {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-name: slideKont;
          animation-name: slideKont;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.contactHide {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-name: hideKont;
          animation-name: hideKont;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
/*# sourceMappingURL=main.css.map */