@-webkit-keyframes btnBlink {
  0% {
    color: var(--colorArticles);
    border-right: 2px solid var(--colorArticles);
  }
  5% {
    border-right: 2px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 2px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 2px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 2px solid var(--colorArticles);
  }
  40% {
    border-bottom: 2px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: black;
  }
  60% {
    border-bottom: 2px solid var(--colorArticles);
  }
  65% {
    border-left: 2px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 2px solid var(--white);
  }
  75% {
    color: black;
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@keyframes btnBlink {
  0% {
    color: var(--colorArticles);
    border-right: 2px solid var(--colorArticles);
  }
  5% {
    border-right: 2px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 2px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 2px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 2px solid var(--colorArticles);
  }
  40% {
    border-bottom: 2px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: black;
  }
  60% {
    border-bottom: 2px solid var(--colorArticles);
  }
  65% {
    border-left: 2px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 2px solid var(--white);
  }
  75% {
    color: black;
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 2px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@-webkit-keyframes btnBlinkB {
  0% {
    color: var(--colorArticles);
    border-right: 1px solid var(--colorArticles);
  }
  5% {
    border-right: 1px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 1px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 1px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 1px solid var(--colorArticles);
  }
  40% {
    border-bottom: 1px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 1px solid var(--colorArticles);
  }
  65% {
    border-left: 1px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 1px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@keyframes btnBlinkB {
  0% {
    color: var(--colorArticles);
    border-right: 1px solid var(--colorArticles);
  }
  5% {
    border-right: 1px solid var(--white);
  }
  15% {
    color: var(--white);
  }
  25% {
    border-right: 1px solid var(--white);
    color: var(--white);
  }
  30% {
    border-right: 1px solid var(--colorArticles);
  }
  35% {
    color: var(--colorArticles);
    border-bottom: 1px solid var(--colorArticles);
  }
  40% {
    border-bottom: 1px solid var(--white);
  }
  45% {
    color: var(--colorArticles);
  }
  55% {
    color: var(--white);
  }
  60% {
    border-bottom: 1px solid var(--colorArticles);
  }
  65% {
    border-left: 1px solid var(--colorArticles);
    color: var(--white);
  }
  70% {
    border-left: 1px solid var(--white);
  }
  75% {
    color: var(--colorArticles);
  }
  80% {
    border-top: 1px solid var(--colorArticles);
  }
  85% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
  }
  90% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--colorArticles);
  }
  99% {
    border-top: 1px solid var(--colorArticles);
  }
  100% {
    color: var(--colorArticles);
  }
}

@-webkit-keyframes glowMovment {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-10px, 4px);
            transform: translate(-10px, 4px);
  }
  50% {
    -webkit-transform: translate(0px, 8px);
            transform: translate(0px, 8px);
  }
  75% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes glowMovment {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(-10px, 4px);
            transform: translate(-10px, 4px);
  }
  50% {
    -webkit-transform: translate(0px, 8px);
            transform: translate(0px, 8px);
  }
  75% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes scanline {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
}

@keyframes scanline {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
}

@-webkit-keyframes slideKont {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
}

@keyframes slideKont {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
}

@-webkit-keyframes KolorIn {
  0% {
    background-color: var(--colorArticlesA);
  }
  100% {
    background-color: var(--colorSocial);
  }
}

@keyframes KolorIn {
  0% {
    background-color: var(--colorArticlesA);
  }
  100% {
    background-color: var(--colorSocial);
  }
}

@-webkit-keyframes hideKont {
  0% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes hideKont {
  0% {
    -webkit-transform: translateX(-365px);
            transform: translateX(-365px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes KolorOut {
  0% {
    background-color: var(--colorSocial);
  }
  100% {
    background-color: var(--colorArticlesA);
  }
}

@keyframes KolorOut {
  0% {
    background-color: var(--colorSocial);
  }
  100% {
    background-color: var(--colorArticlesA);
  }
}

@media (max-width: 480px) {
  @-webkit-keyframes slideKont {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100vw);
              transform: translateX(-100vw);
    }
  }
  @keyframes slideKont {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100vw);
              transform: translateX(-100vw);
    }
  }
  @-webkit-keyframes hideKont {
    0% {
      -webkit-transform: translateX(-100vw);
              transform: translateX(-100vw);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes hideKont {
    0% {
      -webkit-transform: translateX(-100vw);
              transform: translateX(-100vw);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.buttonM, .new, .copy, .copyA, .copyB, .copyC, .art, .lud, .nft {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  pointer-events: auto;
  background-color: var(--colorArticlesB);
  width: 35px;
  height: 145px;
  padding-top: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
  -webkit-transition: color 0.15s ease-out, -webkit-transform 0.2s ease-out;
  transition: color 0.15s ease-out, -webkit-transform 0.2s ease-out;
  transition: color 0.15s ease-out, transform 0.2s ease-out;
  transition: color 0.15s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  border: 1px solid var(--colorArticles);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.buttonM p, .new p, .copy p, .copyA p, .copyB p, .copyC p, .art p, .lud p, .nft p {
  font-family: var(--font-headers);
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: -3px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  text-shadow: -3px 4px 3px var(--colorArticlesD);
}

.buttonM:hover, .new:hover, .copy:hover, .copyA:hover, .copyB:hover, .copyC:hover, .art:hover, .lud:hover, .nft:hover {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: btnBlinkB;
          animation-name: btnBlinkB;
  -webkit-transform: translate(-6px, 4px);
          transform: translate(-6px, 4px);
}

.buttonWrapperB {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.buttonWrapper {
  position: relative;
}

.new, .copy, .copyA, .copyB, .copyC {
  left: 15px;
  top: 7px;
  -webkit-clip-path: polygon(100% 0, 100% 75%, 40% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 75%, 40% 100%, 0 100%, 0 0);
}

.copy, .copyA, .copyB, .copyC {
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  left: 8px;
  top: 12px;
  border: none;
  background-color: var(--colorArticlesE);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-clip-path: polygon(100% 0, 100% 75%, 40% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 75%, 40% 100%, 0 100%, 0 0);
}

.copy:hover, .copyA:hover, .copyB:hover, .copyC:hover {
  -webkit-animation-iteration-count: none;
          animation-iteration-count: none;
  -webkit-animation-duration: none;
          animation-duration: none;
  -webkit-animation-name: none;
          animation-name: none;
  -webkit-transform: none;
          transform: none;
}

.copyA {
  left: calc(100vw - (8px + 35px));
  -webkit-clip-path: polygon(100% 0, 100% 100%, 60% 100%, 0 75%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 60% 100%, 0 75%, 0 0);
}

.copyB {
  left: 8px;
  top: -157px;
  -webkit-clip-path: polygon(40% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(40% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
}

.copyC {
  left: calc(100vw - (8px + 35px));
  top: -157px;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 25%, 40% 0);
          clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 25%, 40% 0);
}

.glow, .glowA, .glowB, .glowC {
  z-index: -1;
  position: absolute;
  -webkit-filter: drop-shadow(-5px 5px 2px var(--colorArticlesF));
          filter: drop-shadow(-5px 5px 2px var(--colorArticlesF));
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.buttonM:hover + .glow, .new:hover + .glow, .copy:hover + .glow, .copyA:hover + .glow, .copyB:hover + .glow, .copyC:hover + .glow, .art:hover + .glow, .lud:hover + .glow, .nft:hover + .glow, .buttonM:hover + .glowA, .new:hover + .glowA, .copy:hover + .glowA, .copyA:hover + .glowA, .copyB:hover + .glowA, .copyC:hover + .glowA, .art:hover + .glowA, .lud:hover + .glowA, .nft:hover + .glowA, .buttonM:hover + .glowB, .new:hover + .glowB, .copy:hover + .glowB, .copyA:hover + .glowB, .copyB:hover + .glowB, .copyC:hover + .glowB, .art:hover + .glowB, .lud:hover + .glowB, .nft:hover + .glowB, .buttonM:hover + .glowC, .new:hover + .glowC, .copy:hover + .glowC, .copyA:hover + .glowC, .copyB:hover + .glowC, .copyC:hover + .glowC, .art:hover + .glowC, .lud:hover + .glowC, .nft:hover + .glowC {
  -webkit-filter: drop-shadow(-3px 3px 2px var(--colorArticlesD));
          filter: drop-shadow(-3px 3px 2px var(--colorArticlesD));
}

.buttonM.art:hover, .art:hover {
  -webkit-transform: translate(-6px, 4px);
          transform: translate(-6px, 4px);
}

.glowA {
  -webkit-filter: drop-shadow(5px 5px 2px var(--colorArticlesF));
          filter: drop-shadow(5px 5px 2px var(--colorArticlesF));
}

.glowB {
  -webkit-filter: drop-shadow(-5px -5px 2px var(--colorArticlesF));
          filter: drop-shadow(-5px -5px 2px var(--colorArticlesF));
}

.glowC {
  -webkit-filter: drop-shadow(5px -5px 2px var(--colorArticlesF));
          filter: drop-shadow(5px -5px 2px var(--colorArticlesF));
}

.art {
  right: 15px;
  top: 7px;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 60% 100%, 0 75%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 60% 100%, 0 75%, 0 0);
}

.buttonM.art:hover, .art:hover {
  -webkit-transform: translate(6px, 4px);
          transform: translate(6px, 4px);
}

.buttonM.art:hover + .glow, .art.new:hover + .glow, .art.copy:hover + .glow, .art.copyA:hover + .glow, .art.copyB:hover + .glow, .art.copyC:hover + .glow, .art:hover + .glow, .art.lud:hover + .glow, .art.nft:hover + .glow, .buttonM.art:hover + .glowA, .art:hover + .glowA, .buttonM.art:hover + .glowB, .art:hover + .glowB, .buttonM.art:hover + .glowC, .art:hover + .glowC {
  -webkit-filter: drop-shadow(3px 3px 2px var(--colorArticlesD));
          filter: drop-shadow(3px 3px 2px var(--colorArticlesD));
}

.lud {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 15px;
  bottom: 7px;
  -webkit-clip-path: polygon(40% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(40% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
}

.buttonM.lud:hover, .lud:hover {
  -webkit-transform: translate(-6px, -4px);
          transform: translate(-6px, -4px);
}

.buttonM.lud:hover + .glow, .lud.new:hover + .glow, .lud.copy:hover + .glow, .lud.copyA:hover + .glow, .lud.copyB:hover + .glow, .lud.copyC:hover + .glow, .lud.art:hover + .glow, .lud:hover + .glow, .lud.nft:hover + .glow, .buttonM.lud:hover + .glowA, .lud:hover + .glowA, .buttonM.lud:hover + .glowB, .lud:hover + .glowB, .buttonM.lud:hover + .glowC, .lud:hover + .glowC {
  -webkit-filter: drop-shadow(-3px -3px 2px var(--colorArticlesD));
          filter: drop-shadow(-3px -3px 2px var(--colorArticlesD));
}

.nft {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 15px;
  bottom: 7px;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 25%, 40% 0);
          clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 25%, 40% 0);
}

.buttonM.nft:hover, .nft:hover {
  -webkit-transform: translate(6px, -4px);
          transform: translate(6px, -4px);
}

.buttonM.nft:hover + .glow, .nft.new:hover + .glow, .nft.copy:hover + .glow, .nft.copyA:hover + .glow, .nft.copyB:hover + .glow, .nft.copyC:hover + .glow, .nft.art:hover + .glow, .nft.lud:hover + .glow, .nft:hover + .glow, .buttonM.nft:hover + .glowA, .nft:hover + .glowA, .buttonM.nft:hover + .glowB, .nft:hover + .glowB, .buttonM.nft:hover + .glowC, .nft:hover + .glowC {
  -webkit-filter: drop-shadow(3px -3px 2px var(--colorArticlesD));
          filter: drop-shadow(3px -3px 2px var(--colorArticlesD));
}
/*# sourceMappingURL=ButtonM.module.css.map */