@import '../../../scss/animations';

$btnWidth: 35px;
$btnHeight: 145px;
.buttonM {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: top;
  background-color: var(--colorArticlesB);
  width: $btnWidth;
  height: $btnHeight;
  padding-top: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;
  transition: color 0.15s ease-out, transform 0.2s ease-out;
  border-left: 1px solid var(--colorArticles);
  border-right: 1px solid var(--colorArticles);
  border-bottom: 1px solid var(--colorArticles);
  border-top: 1px solid var(--colorArticles);
  // text-shadow: -3px 4px 3px var(--blackA);

  backdrop-filter: blur(2px);

  // z-index: 1;
  & p {
    font-family: var(--font-headers);
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--colorArticles);
    letter-spacing: -3px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-shadow: -3px 4px 3px var(--black);
  }

  &:hover {
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-name: btnBlink;
    transform: translate(-6px, 4px);
  }
}

.buttonWrapper {
  // border: 1px solid red;
  position: relative;
  // width: 100%;
  // height: 100%;
}

.new {
  @extend .buttonM;
  left: 15px;
  top: 7px;
  clip-path: polygon(100% 0, 100% 75%, 40% 100%, 0 100%, 0 0);
}
.copy {
  @extend .new;
  backdrop-filter: blur(0px);
  // z-index: -1;
  top: 12px;
  left: 8px;
  border: none;
  background-color: var(--colorArticlesB);
  transition: all 0.2s ease-out;
  clip-path: polygon(100% 0, 100% 75%, 40% 100%, 0 100%, 0 0);
}

.copyA {
  @extend .copy;
  left: calc(100vw - (8px + 35px));
  clip-path: polygon(100% 0, 100% 100%, 60% 100%, 0 75%, 0 0);
}

.glow {
  z-index: -1;
  position: absolute;
  // left: 10px;
  // top: 10px;
  filter: drop-shadow(-5px 5px 2px rgba(255, 245, 112, 0.8));
  transition: all 0.25s ease-out;
}

.buttonM:hover + .glow {
  filter: drop-shadow(0px 0px 2px rgba(255, 245, 112, 0.8));
}
.buttonM.art:hover {
  transform: translate(-6px, 4px);
}

.glowA {
  @extend .glow;
  filter: drop-shadow(5px 5px 2px rgba(255, 245, 112, 0.8));
}

.art {
  @extend .buttonM;
  right: 15px;
  top: 7px;
  clip-path: polygon(100% 0, 100% 100%, 60% 100%, 0 75%, 0 0);
}
