.cardui {
  //   padding: 17px 30px;
  margin-left: 10px;
  width: 420px;
  min-height: 380px;
  clip-path: polygon(90% 0%, 100% 10%, 100% 100%, 10% 100%, 0% 90%, 0 0);
  box-shadow: 0px 0px 0px 2px rgb(21, 21, 22);
  overflow: hidden;
  position: relative;
  border: 2px solid rgba(20, 20, 0, 0.8);
}

.bck {
  background-color: powderblue;
}
